---
layout: default
permalink: /forums/robot_market/gimson_robotics_online_store/index.html
posts:
- author: gimsonrobotics
  content: |
      <p><strong><a href="http://www.gimsonrobotics.co.uk">Gimson Robotics</a></strong> are an ecommerce supplier to remote control, 
          robotics and engineering hobbyists across the United Kingdom.
      </p>
          <p>Our constantly expanding product range includes powerpole connectors, 
            silicone insulated power cable, electric motors and RC speed controllers all at fantastic prices!
      </p>
      <p>
      <br/>One of our most recent additions to our product range is the Sabertooth 2x10 speed controller ideal for many automated robotic and RC projects:
      </p>
      <p>
      <br/><strong>Product summary</strong>
      </p>
      <p>- 6-25V Input voltage (two to six lithium cells)
      <br/>- Output 10A continuous per motor / channel (15A peak)
      <br/>- Built in channel mixing
      </p>
      <p>- Built in failsafing
          <br/>- Built in 5v output BEC (battery eliminator circuit)
      <br/>- Li-po battery safety cut-out
      <br/>- Channel 'flip' control with third RC lead
      <br/>- Completely solid state control (no relays)
      <br/>- Controller features selectable with on-board DIP switch
      <br/>- Motor connections by on-board screw terminals
          <br/>- 34g approx weight
      <br/>- Overall size (exc RC connectors) 59mm (L) x 48mm (W) x 19mm (H)
      </p>
      <p>
      <br/>In all this controller is an ideal medium power controller option with a fantastic value price tag, only £49.95! 
        Please <a href="http://www.gimsonrobotics.co.uk/shop_rc-speed-controllers-sabertooth.html">see here for the Sabertooth 2x10 product page</a>.
      </p>
          <p>Please don't hesitate to ask any questions you may have about this new addition to the Gimson Robotics product range
             or about any of the other products we stock - Either by email (ewan@gimsonrobotics.co.uk) or by posting on this thread.
          </p>
      <hr/>
      <p>Many Thanks, Ewan Gimson
      <br/><a href="http://www.gimsonrobotics.co.uk">Gimson Robotics</a>
      </p>
  date: Sat 20 of Jan., 2007 11:20 GMT
- author: orion
  content: |
    <p>Thanks for that.

    <br/>I think most interesting are the <a href="http://www.gimsonrobotics.co.uk/shop_dc-electric-motors.html">Gear Motors</a> 
    which are based on cordless drill motors, so have been designed for battery powered torque applications.

    <br/>They also compare rather favourably with using modified servos for price
    and simplicity.

    </p>
    <p>Cheers,
    <br/>Orion
    </p>
  date: Sun 21 of Jan., 2007 00:02 GMT
thread:
  author: gimsonrobotics
  href: tiki-view_forum_thread.php?comments_parentId=279&topics_offset=4
  last_post_date: "Sun 21 of Jan., 2007 00:02 GMT \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nRe: Gimson Robotics Online Store by orion"
  name: Gimson Robotics Online Store
  posts: 1
  reads: 21505
  slug: gimson_robotics_online_store
  subcomment: UK based store for many of your robotics and engineering needs
title: Robot Market | Gimson Robotics Online Store
topic:
  href: tiki-view_forum.php?forumId=6
  last_post_date: Mon 31 of Dec, 2012 16:42 GMT
  last_post_info: 'Re: Kurukshetra 2011 SCARA by orion'
  name: Robot Market
  post_count: 19
  slug: robot_market
  subcomment: This is where you can buy, sell, exchange or advertise your robot related
    goods, sites and clubs. All posts here are queued & moderated.
  thread_count: 10
  visits: 53490
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
