---
layout: default
permalink: /forums/robot_market/kurukshetra_2011_mobile_robotics/index.html
posts:
- author: abirajan
  content: '

    <p>Since ROBOTICS field is developing and it is a necessity to meet future demands..

    </p>

    <p>Our University proudly presents a WORKSHOP on ROBOTICS

    <br/>"MOBILE ROBOTICS" in the upcoming technical festival "KURUKSHETRA 2011" to
    be held in  FEB 2-5 at Anna University,chennai-25.

    </p>

    <p>For futher details please log on to.,

    </p>

    <p><a href="http://kurukshetra.org.in/workshops/?workshop=mobrobo">http://kurukshetra.org.in/workshops/?workshop=mobrobo</a>

    </p>

    '
  date: Thu 16 of Dec, 2010 14:20 GMT
thread:
  author: abirajan
  href: tiki-view_forum_thread.php?comments_parentId=448&topics_offset=1
  last_post_date: Thu 16 of Dec, 2010 14:20 GMT
  name: Kurukshetra 2011 Mobile Robotics
  posts: 0
  reads: 10670
  slug: kurukshetra_2011_mobile_robotics
  subcomment: Robotics Workshop
title: Robot Market | Kurukshetra 2011 Mobile Robotics
topic:
  href: tiki-view_forum.php?forumId=6
  last_post_date: Mon 31 of Dec, 2012 16:42 GMT
  last_post_info: 'Re: Kurukshetra 2011 SCARA by orion'
  name: Robot Market
  post_count: 19
  slug: robot_market
  subcomment: This is where you can buy, sell, exchange or advertise your robot related
    goods, sites and clubs. All posts here are queued & moderated.
  thread_count: 10
  visits: 53490
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
