---
layout: default
permalink: /forums/robot_market/request_for_parts/index.html
posts:
- author: Anonymous
  content: '

    <p>Hi There

    </p>

    <p>I read an article regarding TFT450 (5000) power supplies.  It said that you
    would make them.  Please can you let me know how much each they are.  I need 8.

    </p>

    <p>Nick Williams

    <br/><a class="convert-mailto" data-encode-domain="hotmail.com" data-encode-name="iamsgf"
    href="mailto:nospam@example.com">iamsgf at hotmail.com</a>

    </p>

    '
  date: Fri 17 of June, 2005 22:15 BST
- author: orion
  content: '

    <p>Hi,

    <br/>I did attempt to email you on the provided account. I can make either supply
    adaptors from PC power supplies - and I could also sell them with doctored ATX
    power supplies. However it is something I am only prepared to do a few of - and
    would strongly encourage people with the know-how to use the artical and make
    their own. It is a bit of a hack, and comes with very few guarantees - although
    a few people have built and gotten their own working based on the information
    in the artical (it is all there).

    </p>

    <p>Could you please set up an account here and use the private messaging feature
    of the site to discuss this furthar if you did not receive the email. I can then
    give you a quote on them, and make sure you are aware of the situation.

    <br/>Orion

    </p>

    '
  date: Fri 17 of June, 2005 22:24 BST
thread:
  author: Anonymous
  href: tiki-view_forum_thread.php?comments_parentId=153&topics_offset=7
  last_post_date: "Fri 17 of June, 2005 22:24 BST \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nRe: REQUEST FOR PARTS by orion"
  name: REQUEST FOR PARTS
  posts: 1
  reads: 21727
  slug: request_for_parts
  subcomment: ''
title: Robot Market | REQUEST FOR PARTS
topic:
  href: tiki-view_forum.php?forumId=6
  last_post_date: Mon 31 of Dec, 2012 16:42 GMT
  last_post_info: 'Re: Kurukshetra 2011 SCARA by orion'
  name: Robot Market
  post_count: 19
  slug: robot_market
  subcomment: This is where you can buy, sell, exchange or advertise your robot related
    goods, sites and clubs. All posts here are queued & moderated.
  thread_count: 10
  visits: 53490
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
