---
theme :
  name : orionrobots
---
{% include JB/setup %}
          </div>
          <div class="col-md-4">
              <div class="panel panel-default">
                  <div class="panel-heading">Other places to find us</div>
                  <div class="panel-body list-group">
                      <a href="https://www.youtube.com/channel/UCVllQ0CH357h7jTpzLB9hCA" class="list-group-item"><i class="fa fa-youtube-square"></i> Youtube</a>
                      <a href="https://plus.google.com/103729072501059702209" class="list-group-item" rel="publisher"><i class="fa fa-google-plus-square"></i> G+</a>
                      <a href="http://www.twitter.com/orionrobots" class="list-group-item"><i class="fa fa-twitter-square"></i> Twitter</a>
                      <a href="https://www.facebook.com/orionrobots" class="list-group-item"><i class="fa fa-facebook-square"></i> Facebook</a>
                  </div>
              </div>
              {% include sidebar_ads.html %}
          </div>
        </div><!-- /.content -->
        <footer id="bottom">
          <div class="row" id="footer-left">
              <div class="co-lg-12">
            <ul id="footer-nav" class="list-unstyled">
              <li><a href="/about_us">About Us</a></li>

              <li><a href="/privacy_and_cookies">Privacy and Cookies</a></li>

            </ul>
              </div>
          </div>
          <div>
            <p>&copy; {{ site.time | date: '%Y' }} OrionRobots. Orionrobots is a trademark.
              with help from <a href="https://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>
            </p>
        </footer>
    </div>
    {% include JB/analytics %}
</body>
</html>
