---
layout: default
permalink: /forums/vex/vex_robot_from_radio_shack/index.html
posts:
- author: Anonymous
  content: |
    <p>Radio Shack manufactured this new VEX Robotics kit. When I first read about
    it from the Popular Science magazine, it was stated as a much better than LEGO
    MINDSTORMS.  So, I got online and read the specification.  Well, it is really
    NOT better than mindstorms, especially in educational value department.  Wonder
    if there is anyone out in this galaxy has had experience with the Vex and provide
    me a bit more insight.</p>

    <p>Thanks in advance!

    </p>

    <p>Elizabeth

    <br/>robots(NOSPAM)@(REMOVE THIS)storming-robots.com

    </p>
  date: Thu 30 of June, 2005 11:08 BST
- author: orion
  content: |
    <p>Hi Elizabeth,

    <br/>There have been recent discussions regarding this on <a
    href="/wiki/lugnet.html" title="Lego Users Group Network">Lugnet</a>, specifically comparing
    it with the <a href="/wiki/rcx.html" title="The Lego Robot Command
    Explorer">RCX</a>.</p>

    <p><a class="wiki external" href="http://news.lugnet.com/robotics/?n=24096" rel="external">http://news.lugnet.com/robotics/?n=24096</a>
    - I note that you have been posting on this.</p>

    <p>It is not better in terms of educational material, but in terms of usefulness
    once you have experience, it is much better. It has more IO ports, and also opens
    up possibilities of real <a href="/wiki/serial_data_stream.html" title="Serial
    Data Stream">serial</a> communication.</p>

    <p>I cant say I am not a huge fan of the Erector/Meccano when compared with <a
    href="/wiki/lego.html" title="The best known construction toy">Lego</a>
    is has its uses as a <a href="/wiki/construction_toy.html" title="Construction
    Toy">Construction Toy</a> and the two can actually be interfaced.</p>

    <p>All in all though, the kit comes with <a href="/wiki/servo_motor.html"
    title="A motor with built in positioning control - easily interfaced with digital
    systems">Servos</a> and rotational motors (which appear to be modified servos)
    which are a great deal more useful than the <a href="/wiki/lego.html"
    title="The best known construction toy">Lego</a> motors. Unless you are an evangelical
    Lego user (which I am definitely not), there is no greta problem in using these
    together. With a good servo - you alleviate the need (in some cases) for a rotation
    sensor.</p>

    <p>So if you are buying for Educational Value, choose the RIS or <a href="/wiki/dacta.html" title="DACTA">Dacta</a>, if you are buying for raw power
    in terms of processing, interfacing, remote control and flexibility - buy the
    VEX. Myself.  I am intending to purchase the VEX, and use both in my workshops.</p>

    <p>As far as I am concerned - you can never have enough variety in MicroControllers.  I
    am yet to find one that fits <strong>all</strong> my needs in the different bots
    and challenges we get.</p>

    <p>Orion

    </p>
  date: Thu 30 of June, 2005 11:22 BST
- author: artdutra04
  content: "\n<p>Hello everyone.\n</p>\n<p>I have built several sophisticated Vex\
    \ robots so far, in addition to many LEGO Mindstorms robots. At this point, I\
    \ will agree 100% with Popular Science in saying that <strong>Vex is better than\
    \ Mindstorms</strong>. I own several Mindstorms kits, plus one Vex kit. I have\
    \ been involved with a half dozen Lego Mindstorms competitions and three Vex competitions.\
    \ Ever since I bought my Vex kit, I have never touched my Mindstorms kits.\n</p>\n\
    <p>With Vex, you can run up to eight motors or servos, as compared to just three\
    \ with the RCX. You have 16 analog/digital input/output ports to use. Vex currently\
    \ has six sensors (Ultrasonic, Shaft Encoders, Line Following, Light Sensor, Limit\
    \ Switch, Bumper Switch), although any digital or analog sensor can be used. I\
    \ have used custom IR short and long range sensors and potentiameters on my Vex\
    \ robots.\n</p>\n<p>The eight motor ports generate PWM signals, so any PWM device\
    \ can be plugged into these. This includes regualar servos or <a class=\"wiki\
    \ external\" href=\"http://www.ifirobotics.com/victor-884-speed-controller-robots.shtml\"\
    \ rel=\"external\">speed controllers</a>.\n</p>\n<p>After being involved with\
    \ the Educational <a class=\"wiki external\" href=\"http://www.usfirst.org\" rel=\"\
    external\">FIRST</a> Robotics competition, which involved LEGO Mindstorms, Vex\
    \ Robotics, and full-size robots, I can say that LEGO Mindstorms are best suited\
    \ students aged 9-14. <strong>The Vex Robotics kit, with a much greater sophistication,\
    \ blows away the Mindstorms kits for students aged 14+</strong>. The Vex kits\
    \ are way better at teaching programming, engineering, mechanical design, and\
    \ robot competitions than the LEGO Mindstorms kits.\n</p>\n<p>Here are some pictures\
    \ of my current VEX robot, which scores 'tetras' and is a complete 1:3 scale replica\
    \ of the Team 228 FIRST Robotics Competition robot.\n</p>\n<p>\n<br/><a class=\"wiki external\" href=\"http://www.chiefdelphi.com/forums/showthread.php?threadid=39631\"\
    \ rel=\"external\">http://www.chiefdelphi.com/forums/showthread.php?threadid=39631</a>\n\
    </p>\n<p>Here is a close up of the single stage elevator gearbox and the arm gearbox.\
    \ The arm will lift close to 3 lbs. Everything here is made out of only Vex parts.\n\
    </p>\n<p>Here is a closeup of the drive train on my Vex robot. As before,\
    \ everything here is Vex only parts. Including the omni-wheels.\n</p>\n<p>Last, but not least, is my favorite robot of all time. This\
    \ is called the Beer Bot and was built by John V Neun and Chris Carnevale. The\
    \ robot finds a bottle of beer, pops tha cap off, and pours it into a cup, and\
    \ then deposits the cup down on the table. More cool Vex robots can be found at\
    \ <a class=\"wiki external\" href=\"http://www.vexlabs.com/vex-robot-photos.shtml\"\
    \ rel=\"external\">VexLabs.com</a>\n</p>\n<p><a class=\"wiki external\" href=\"http://www.vexlabs.com/vex-bottlebot.shtml\"\
    \ rel=\"external\">http://www.vexlabs.com/vex-bottlebot.shtml</a>\n</p>\n<hr/>\n\
    <p>DannyStaple: Edited to thumbnails. Click images for larger versions.\n</p>\n"
  date: Sun 09 of Oct., 2005 22:58 BST
- author: orion
  content: |
    <p>Is VEX coming to an end?</p>

    <p>It appears that Radio Shack are now selling off all their old stocks, and are
    discontinuing the VEX line, at least according to sources on the DPRG.</p>

    <p>I am not sure why they have decided to do this, but if you want ot purchase
    VEX kit - now is the time to buy it at discount if you want it.</p>

    <p>Is it possible that they are completing this line to prepare for a next generation
    to rival the Lego NXT?</p>
  date: Tue 21 of Mar., 2006 10:23 GMT
- author: orion
  content: |
    <p>Okay - a question to those who are in the know  - where in the Uk could I acquire
    a VEX Robotics kit, better still at the low prices they have on the RadioShack
    home page.</p>

    <p>Radio Shack dont actually appear to ship outside the US.</p>
  date: Tue 21 of Mar., 2006 15:15 GMT
- author: ArtBot
  content: |
    <p>Orion,

    <br/>I'm in the U.S. I just picked up two Vex starter kits.  My local radioshack
    had them listed for $99.00each! also stocked up on the sensors and tread accessories.
    They only had two starter sets but will be searching for the sonar kits this weekend.
    A friend bought another after checking out the java-vex website, they gave it
    very high remarks and it seems like there is a lot you can do with the controller.
    They only had two but will be searching for the sonar kits this weekend. I would
    be willing to pick up another and ship it if you're still looking.  Not sure
    what shipping would be but 1/3 the retail the  price can't be beat!

    </p>

    <p>chris

    </p>
  date: Sat 15 of Apr., 2006 06:13 BST
- author: orion
  content: |
    <p>Chris, I like that idea a lot. If you could quote me using the web contact
    forms (ie off the public section) with a quote, and email details or something,
    then we can sort it out from there. If it works out at about the right price,
    I would be prepared to pay for postage to you, and then to the Uk, as well as
    adding in a little for the service. Please get in touch using 
    <a href="http://twitter.com/orionrobots">Twitter</a>.
    </p>

    <p>Danny</p>
  date: Sat 15 of Apr., 2006 23:37 BST
- author: orion
  content: |
    <p>Hi there, I have just noticed that the Vex line (starter kit and accessories)
    does not seem to have any worm gears, or differentials. Has anyone managed to
    find or get advanced drive mechanisms working with VEX?</p>

    <p>An example would be the <a href="/wiki/adder_subtractor_drive.html"
    title="Adder Subtractor Drive">adder subtractor drive</a>.</p>

    <p>Danny</p>
  date: Fri 14 of July, 2006 07:46 BST
thread:
  author: ''
  href: tiki-view_forum_thread.php?comments_parentId=169
  last_post_date: Anonymous
  name: VEX Robot from Radio Shack
  posts: 7
  reads: 67410
  slug: vex_robot_from_radio_shack
  subcomment: comparison in educational value
title: VEX | VEX Robot from Radio Shack
topic:
  href: tiki-view_forum.php?forumId=11
  last_post_date: Fri 14 of July, 2006 07:46 BST
  last_post_info: Lacking Worm Gear by orion
  name: VEX
  post_count: 10
  slug: vex
  subcomment: Discussion of all things VEX - including the VEXplorer contest.
  thread_count: 2
  visits: 37613
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
