---
layout: default
permalink: /forums/vex/vex_robotics_questions/index.html
posts:
- author: JasonQ
  content: |
    <p>Hi,</p>

    <p>I have some questions about the VEX robotics kit that I thought you guys might
    be able to answer for me.</p>

    <p>First, why do the motors have 3 wires?  There are the positive and common leads,
    but what is the third for?</p>

    <p>Also, I'm thinking about getting the programming kit but am somewhat wary
    about doing it because it costs $100.  Also, I have heard that the IDE is not
    very good, and that the language it uses is hard to code in.  Is there anyone
    who has experience with the programming kit and can tell me if any of the rumors
    are true?</p>

    <p>What programming language is used to program the VEX microcontroller?  Is it
    hard to use?</p>

    <p>Would it be possible for someone to send me a copy of the IDE used for programming
    the microcontroller?  Id like to see what it's like.</p>

    <p>[Post edited by orion to remove public email address]</p>

    <p>Thanks,</p>

    <p>Jason</p>
  date: Tue 06 of Dec, 2005 20:37 GMT
- author: orion
  content: "\n<p>Good afternoon Jason,\n<br/>While I couldnt help you by sending you\
    \ a VEX <a href=\"/wiki/idetool.html\" title=\"Integrated Development\
    \ Environment\">IDE</a>, my understanding is that the motors are <a class=\"wiki\
    \ wiki_page\" href=\"/wiki/servo_motor.html\" title=\"A motor with built in positioning control\
    \ - easily interfaced with digital systems\">Servo Motors</a>. Therefore, while\
    \ you astutely guessed that two of them are the positive and negative, the other\
    \ cable is actually the signal cable. Servo motors operate in a slightly different\
    \ and more intelligent way from standard DC Motors.\n</p>\n\
    <p>It is certainly a more advanced, and a more complicated system to use than\
    \ say the <a  href=\"/wiki/rcx.html\" title=\"The Lego RCX\"\
    >Lego RCX</a>, but it is also more capable. You certainly are not going to get\
    \ the simplicity of the visual Lego RCX Code system here. Saying that if you are\
    \ using easyC - it is not too unpleasant.\n</p>\n<p>If you are familiar with C,\
    \ you have a C based language to work with, and if you are a beginner, you have\
    \ the visual components to work with. It means you can start with the beginners\
    \ visual lanugae, and smoothly transition.  Read <a class=\"wiki external\" href=\"\
    http://www.intelitek.com/?s=VEX+Robots\" rel=\"\
    external\">Intelitek - Products - EasyC\xE2\u201E\xA2 and REC (Robotics Engineering\
    \ Curriculum) for VEX Robots - EasyC\xE2\u201E\xA2</a> for more details on easyC.\n\
    </p>\n<p>If you are an absolute beginner and have not taken the plunge to buy\
    \ anything, I would seriously recommend starting with <a class=\"\
    wiki\" href=\"/wiki/mindstorms.html\">Lego Mindstorms</a> and buying the RIS kit. Once you have gained some\
    \ experience with it, you could then try more advanced languages on it like NQC,\
    \ BrickOS or Lejos.\n</p>\n<p>Good luck Jason,\n</p>\n<p>Orion\n</p>\n"
  date: Wed 07 of Dec, 2005 14:36 GMT
thread:
  author: ''
  href: tiki-view_forum_thread.php?comments_parentId=224&topics_offset=1
  last_post_date: JasonQ
  name: VEX robotics questions
  posts: 1
  reads: 21751
  slug: vex_robotics_questions
  subcomment: VEX robotics questions
title: VEX | VEX robotics questions
topic:
  href: tiki-view_forum.php?forumId=11
  last_post_date: Fri 14 of July, 2006 07:46 BST
  last_post_info: Lacking Worm Gear by orion
  name: VEX
  post_count: 10
  slug: vex
  subcomment: Discussion of all things VEX - including the VEXplorer contest.
  thread_count: 2
  visits: 37613
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
