---
layout: default
permalink: /forums/announcements/anonymous_posting_broken/index.html
posts:
- author: orion
  content: |
    <p>After some cases of abuse and flyposting, I tried to revise the anonymous posting
    policies on OrionRobots. Currently - if you try to post anonymously, your post
    will be sent to a black hole. Can I ask all those who want to post to create an
    account and log-in.</p>

    <p>Regards,

    <br/>Orion

    </p>
  date: Thu 28 of July, 2005 21:14 BST
thread:
  author: orion
  href: tiki-view_forum_thread.php?comments_parentId=203&topics_offset=7
  last_post_date: Thu 28 of July, 2005 21:14 BST
  name: Anonymous Posting broken
  posts: 0
  reads: 18265
  slug: anonymous_posting_broken
  subcomment: ''
title: Announcements | Anonymous Posting broken
topic:
  href: tiki-view_forum.php?forumId=1
  last_post_date: Sat 24 of Feb., 2007 16:36 GMT
  last_post_info: Problem with forums posts by orion
  name: Announcements
  post_count: 26
  slug: announcements
  subcomment: Things we feel it is important that you know about
  thread_count: 18
  visits: 66854
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
