---
layout: default
permalink: /forums/announcements/dns_outtage/index.html
posts:
- author: orion
  content: '

    <p>Due to a few slip-ups on our DNS set up - some users may have been presented
    with a "123-reg" site instead of OrionRobots last night.

    <br/>I apologise for the inconvenience - and we are now fully back and up and
    running.

    </p>

    <p>Orion

    </p>

    '
  date: Tue 16 of Aug., 2005 10:19 BST
thread:
  author: orion
  href: tiki-view_forum_thread.php?comments_parentId=211&topics_offset=4
  last_post_date: Tue 16 of Aug., 2005 10:19 BST
  name: DNS outtage
  posts: 0
  reads: 18131
  slug: dns_outtage
  subcomment: ''
title: Announcements | DNS outtage
topic:
  href: tiki-view_forum.php?forumId=1
  last_post_date: Sat 24 of Feb., 2007 16:36 GMT
  last_post_info: Problem with forums posts by orion
  name: Announcements
  post_count: 26
  slug: announcements
  subcomment: Things we feel it is important that you know about
  thread_count: 18
  visits: 66854
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
