---
layout: default
permalink: /forums/announcements/downloads_fixed/index.html
posts:
- author: orion
  content: '

    <p>I have just noticed that anonymous users were not able to download files which
    should be freely available. I have now fixed the permissions so they can.

    </p>

    <p>What can I do to get people to report this stuff? Seriously - if you spot a
    problem with OrionRobots, please let us know, as soon as possible.

    </p>

    <p>Danny

    </p>

    '
  date: Thu 13 of July, 2006 12:32 BST
thread:
  author: orion
  href: tiki-view_forum_thread.php?comments_parentId=269&topics_offset=1
  last_post_date: Thu 13 of July, 2006 12:32 BST
  name: Downloads Fixed
  posts: 0
  reads: 16277
  slug: downloads_fixed
  subcomment: File downloads permitted for anonymous
title: Announcements | Downloads Fixed
topic:
  href: tiki-view_forum.php?forumId=1
  last_post_date: Sat 24 of Feb., 2007 16:36 GMT
  last_post_info: Problem with forums posts by orion
  name: Announcements
  post_count: 26
  slug: announcements
  subcomment: Things we feel it is important that you know about
  thread_count: 18
  visits: 66854
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
