---
layout: default
permalink: /forums/announcements/file_downloads_now_for_registered_users_only/index.html
posts:
- author: orion
  content: '

    <p>Due to abuse of the site, and huge numbers of deep linked downloads (which
    was hurting our bandwidth more than we can afford) - we have now disabled file
    downloads for anonymous users.

    </p>

    <p>You can still get your files by registering for free and logging in. Logging
    in also allows you to post comments as well.

    </p>

    <p>Cheers,

    <br/>Orion

    </p>

    <p>

    <br/>

    </p>

    '
  date: Wed 10 of Aug., 2005 19:07 BST
thread:
  author: orion
  href: tiki-view_forum_thread.php?comments_parentId=209&topics_offset=5
  last_post_date: Wed 10 of Aug., 2005 19:07 BST
  name: File Downloads now for registered users only
  posts: 0
  reads: 17040
  slug: file_downloads_now_for_registered_users_only
  subcomment: ''
title: Announcements | File Downloads now for registered users only
topic:
  href: tiki-view_forum.php?forumId=1
  last_post_date: Sat 24 of Feb., 2007 16:36 GMT
  last_post_info: Problem with forums posts by orion
  name: Announcements
  post_count: 26
  slug: announcements
  subcomment: Things we feel it is important that you know about
  thread_count: 18
  visits: 66854
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
