---
layout: default
permalink: /forums/announcements/new_site/index.html
posts:
- author: orion
  content: '

    <p>We are now building this prototype for OrionRobots 4. This site will get forums,
    posting and commenting right where the old one didnt. It is based upon TikiWiki,
    which appears to be more active and comprehensive than plone was.

    </p>

    <p>The look and feel may change significantly - but what is most important is
    that the content will remain.

    </p>

    <p>Please leave any comments on the new feedback forum.

    </p>

    '
  date: Wed 03 of Nov., 2004 14:50 GMT
- author: orion
  content: "\n\tForum testing. Please try responding to this message.\n\n\t\n"
  date: Fri 10 of Dec, 2004 19:59 GMT
- author: orion
  content: '

    <p>The wiki content has now all been migrated, along with a significant amount
    of the articals (which have been made wiki documents on here as well  - barring
    the monitor guides which are kept as articals).

    </p>

    <p>The forum content may be migrated - but that may not be possible. Style and
    templates are still being tweaked - but generally the site is now considered in
    release.

    </p>

    '
  date: M22 of Nov., 2004 14:20 GMT
thread:
  author: orion
  href: tiki-view_forum_thread.php?comments_parentId=1&topics_offset=17
  last_post_date: "Fri 10 of Dec, 2004 19:59 GMT \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n\
    Re: Re: New Site by orion"
  name: New Site
  posts: 2
  reads: 21337
  slug: new_site
  subcomment: Announcing OrionRobots 4
title: Announcements | New Site
topic:
  href: tiki-view_forum.php?forumId=1
  last_post_date: Sat 24 of Feb., 2007 16:36 GMT
  last_post_info: Problem with forums posts by orion
  name: Announcements
  post_count: 26
  slug: announcements
  subcomment: Things we feel it is important that you know about
  thread_count: 18
  visits: 66854
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
