---
layout: default
permalink: /forums/announcements/one_million_views/index.html
posts:
- author: orion
  content: '

    <p>Well we hit a milestone last night in OrionRobots site history. We have now
    officially past One Million Page views, and these last few days have been more
    busy than ever.

    <br/>&#x1F600;

    <br/>Tonight, I will be putting aside my Lego and Oscilloscope and celebrating. Not too long though, I will be adding a tiki-mod for technorati
    tags (so other tiki sites can use it), as well as continually, as always, updating
    and maintaining the content of this site.

    <br/>Well done OR readers!

    <br/>&#128526;

    <br/>Orion

    </p>

    '
  date: Fri 05 of Aug., 2005 18:20 BST
thread:
  author: orion
  href: tiki-view_forum_thread.php?comments_parentId=206&topics_offset=6
  last_post_date: Fri 05 of Aug., 2005 18:20 BST
  name: One Million Views
  posts: 0
  reads: 17310
  slug: one_million_views
  subcomment: ''
title: Announcements | One Million Views
topic:
  href: tiki-view_forum.php?forumId=1
  last_post_date: Sat 24 of Feb., 2007 16:36 GMT
  last_post_info: Problem with forums posts by orion
  name: Announcements
  post_count: 26
  slug: announcements
  subcomment: Things we feel it is important that you know about
  thread_count: 18
  visits: 66854
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
