---
layout: default
permalink: /forums/announcements/open_comments/index.html
posts:
- author: orion
  content: '

    <p>All forum posts will be queued and moderated. Currently comment posts are not
    - this is work in progress. However, since I am informed of all changes, any abuse
    will result in:

    </p>

    <ul><li> Comments are removed

    </li><li> Responsible Users (and all their related work) will be removed

    </li><li> IP Addresses will be barred

    </li><li> In extreme cases - details will be handed to the authorities.

    </li></ul><p>

    <br/>Please ensure you have read our <a href="/wiki/terms_and_conditions.html"
    title="Terms And Conditions">Terms And Conditions</a> before posting. Our policies
    are in the interest of keeping the site a family site, and a friendly site. Please
    use slashdot for flamewars - they are not welcome here, and whole threads may
    be deleted!

    </p>

    '
  date: Fri 04 of Feb., 2005 11:07 GMT
thread:
  author: orion
  href: tiki-view_forum_thread.php?comments_parentId=31&topics_offset=15
  last_post_date: Fri 04 of Feb., 2005 11:07 GMT
  name: Open Comments
  posts: 0
  reads: 15437
  slug: open_comments
  subcomment: We have now enabled anonymous comments and forum posts
title: Announcements | Open Comments
topic:
  href: tiki-view_forum.php?forumId=1
  last_post_date: Sat 24 of Feb., 2007 16:36 GMT
  last_post_info: Problem with forums posts by orion
  name: Announcements
  post_count: 26
  slug: announcements
  subcomment: Things we feel it is important that you know about
  thread_count: 18
  visits: 66854
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
