---
layout: default
permalink: /forums/announcements/pdf_generation_disabled/index.html
posts:
- author: orion
  content: '

    <p>Unfortunately, I have had to disable PDF Generation, as our host does not support
    PDFLib.  I will investigate setting up PDFLib, and re-enabling the feature. I
    am not sure how much of a priority I should make it.

    </p>

    <p>Did you as users find the feature useful? Please respond and let me know.

    <br/>Cheers

    <br/>Orion

    </p>

    '
  date: Sun 10 of Apr., 2005 19:00 BST
thread:
  author: orion
  href: tiki-view_forum_thread.php?comments_parentId=107&topics_offset=13
  last_post_date: Sun 10 of Apr., 2005 19:00 BST
  name: PDF Generation Disabled
  posts: 0
  reads: 17035
  slug: pdf_generation_disabled
  subcomment: ''
title: Announcements | PDF Generation Disabled
topic:
  href: tiki-view_forum.php?forumId=1
  last_post_date: Sat 24 of Feb., 2007 16:36 GMT
  last_post_info: Problem with forums posts by orion
  name: Announcements
  post_count: 26
  slug: announcements
  subcomment: Things we feel it is important that you know about
  thread_count: 18
  visits: 66854
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
