---
layout: default
permalink: /forums/announcements/planned_outtage/index.html
posts:
- author: orion
  content: '

    <p>A planned upgrade to the orionrobots website software is expected to occur
    on friday evening. This is expected to last up to one hour as the new software
    is deployed.

    </p>

    <p>Cheers

    <br/>Danny

    </p>

    '
  date: Wed 31 of May, 2006 22:37 BST
- author: orion
  content: "\n\tAll done thanks!\n\n\t\n"
  date: Sat 03 of June, 2006 17:32 BST
- author: orion
  content: '

    <p>For various reasons, this outtage is expected to now occur today, either during
    the evening or the afternoon. I intend to keep the site live right up until the
    update is ready to deploy.

    </p>

    <p>Danny

    </p>

    '
  date: Sat 03 of June, 2006 13:18 BST
thread:
  author: orion
  href: tiki-view_forum_thread.php?comments_parentId=264&topics_offset=2
  last_post_date: "Sat 03 of June, 2006 17:32 BST \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nRe: Planned Outtage by orion"
  name: Planned Outtage
  posts: 2
  reads: 20654
  slug: planned_outtage
  subcomment: On Friday evening - planned upgrade will occur
title: Announcements | Planned Outtage
topic:
  href: tiki-view_forum.php?forumId=1
  last_post_date: Sat 24 of Feb., 2007 16:36 GMT
  last_post_info: Problem with forums posts by orion
  name: Announcements
  post_count: 26
  slug: announcements
  subcomment: Things we feel it is important that you know about
  thread_count: 18
  visits: 66854
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
