---
layout: default
permalink: /forums/announcements/possible_outage/index.html
posts:
- author: orion
  content: '

    <p>For all readers: we are likely to see a few outages between 20th June and 7th
    July, but no more than 10 hours.

    <br/>This is due to our hosting company (remember we are now hosted at Pipex)
    moving the content to new servers in a different installation, which will upgrade
    performance and reliability.

    </p>

    <p>I apologise in advance for any out-time - and will let you know if there is
    any furthar news on this.

    <br/>Orion

    </p>

    '
  date: Thu 26 of May, 2005 21:46 BST
- author: orion
  content: '

    <p>It appears, after reading certain logs (that I was not aware of before) from
    the hosts, that the low pageviews on the tenth of may were due to a server move
    that took place. I will try to turn off the stats for these events, as well as
    keeping ahead of them.

    </p>

    <p>Cheers,

    <br/>Orion

    </p>

    '
  date: Fri 27 of May, 2005 13:52 BST
thread:
  author: orion
  href: tiki-view_forum_thread.php?comments_parentId=136&topics_offset=12
  last_post_date: "Fri 27 of May, 2005 13:52 BST \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n\
    Re: Possible Outage by orion"
  name: Possible Outage
  posts: 1
  reads: 16317
  slug: possible_outage
  subcomment: ''
title: Announcements | Possible Outage
topic:
  href: tiki-view_forum.php?forumId=1
  last_post_date: Sat 24 of Feb., 2007 16:36 GMT
  last_post_info: Problem with forums posts by orion
  name: Announcements
  post_count: 26
  slug: announcements
  subcomment: Things we feel it is important that you know about
  thread_count: 18
  visits: 66854
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
