---
layout: default
permalink: /forums/announcements/sandbox_disabled/index.html
posts:
- author: orion
  content: '

    <p>At the moment, only those with editor priviledges are allowed to modify the
    wiki. If you are learning the markup, I suggest you use the preview feature. We
    have had to disable the sandbox following a number of incidents of severe abuse.

    </p>

    <p>Please bear in mind, this is a site aimed at children and adults, and therefore
    carries an ICRA rating for its content. Any person posting what amounts to abuse
    will have their account suspended.  Please ensure you have read out <a href="Terms+And+Conditions" title="\terms_and_conditions.html">Terms And
    Conditions</a> before posting to OrionRobots.

    </p>

    <p>To become an editor, you must either be attending a regular meeting and be
    known to me personally, or have posted comments and to forums constructively for
    a number of months, I may grant it, or you can request to become an editor when
    I am sufficiently satisfied that you will be a benefit to this robotics community.

    </p>

    <p>Regards

    <br/>Orion

    </p>

    '
  date: Sat 15 of Jan., 2005 14:34 GMT
thread:
  author: orion
  href: tiki-view_forum_thread.php?comments_parentId=28&topics_offset=16
  last_post_date: Sat 15 of Jan., 2005 14:34 GMT
  name: Sandbox Disabled
  posts: 0
  reads: 15319
  slug: sandbox_disabled
  subcomment: Due to abuse we have disabled the SandBox
title: Announcements | Sandbox Disabled
topic:
  href: tiki-view_forum.php?forumId=1
  last_post_date: Sat 24 of Feb., 2007 16:36 GMT
  last_post_info: Problem with forums posts by orion
  name: Announcements
  post_count: 26
  slug: announcements
  subcomment: Things we feel it is important that you know about
  thread_count: 18
  visits: 66854
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
