---
layout: default
permalink: /forums/announcements/spammers_faking_orionrobots_addresses/index.html
posts:
- author: orion
  content: '

    <p>f you receive any email from orionrobots.co.uk that has an attachment please
    delete it without opening. We have found that spammers are faking our email addresses
    to spam people.

    </p>

    <p>Our own servers are protected, and to some degree block spam - but we cannot
    prevent other people faking our credentials.

    </p>

    <p>I recommend other forum sites use some form of spam database poisoning like
    our own, as it is inevitably sites like Lugnet where the addresses have been harvested.

    </p>

    <p>OrionRobots itself protects addresses with spam poison - which in effect fills
    a spammers database with random email addresses (things like <a class="convert-mailto"
    data-encode-domain="tegsaxfbvxmn.com" data-encode-name="sgsdfghslgksahgsag" href="mailto:nospam@example.com">sgsdfghslgksahgsag
    at tegsaxfbvxmn.com</a>) in an attempt to ruin their harvested list.

    </p>

    <p>Orion

    </p>

    '
  date: M06 of June, 2005 11:10 BST
thread:
  author: orion
  href: tiki-view_forum_thread.php?comments_parentId=149&topics_offset=11
  last_post_date: Mon 06 of June, 2005 11:10 BST
  name: Spammers faking Orionrobots addresses
  posts: 0
  reads: 15157
  slug: spammers_faking_orionrobots_addresses
  subcomment: ''
title: Announcements | Spammers faking Orionrobots addresses
topic:
  href: tiki-view_forum.php?forumId=1
  last_post_date: Sat 24 of Feb., 2007 16:36 GMT
  last_post_info: Problem with forums posts by orion
  name: Announcements
  post_count: 26
  slug: announcements
  subcomment: Things we feel it is important that you know about
  thread_count: 18
  visits: 66854
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
