---
layout: default
permalink: /forums/announcements/upgrade/index.html
posts:
- author: orion
  content: '

    <p>Ok all, there is a newer version of the tikiwiki software upon which OrionRobots
    is based. I will be performing the upgrade over this weekend.

    <br/>The process is relatively painless, and I will be making backups before the
    upgrade. Beware though - new stuff posted during the hours of 10:00-13:00 GMT
    tomorrow may not be backed up - and may end up reverted. The site should still
    be safe to read during that time.

    </p>

    <p>New features are rumoured to contain folders in the gallery system (though
    conspicuously absent from the file gallery) and a number of bugfixes.

    </p>

    '
  date: Fri 24 of June, 2005 19:16 BST
- author: orion
  content: '

    <p>Okay - good news and bad.

    <br/>The upgrade has added a method of giving galleries a parent gallery (not
    quite folders), although they still appear in the main gallery listing. Not quite
    what I wanted - but an improvements.

    </p>

    <p>The dissappearing login box bug seems to have gone. For those who didnt see
    it - the login box used to roll up and although all the text was there - it was
    not visible.

    </p>

    <p>The Blog now has the right page width and does not push the right hand bar
    out. However - the titles appear to be messed up - I will examine this as soon
    as possible.

    </p>

    <p>Some of the fetaures that I previously added/patched will need to be done so
    again - although I am going to try and build scripts to patch them, as well as
    keeping the tikiwiki guys informed of my own additions which might have value
    to the rest of the community.

    </p>

    <p>I still cannot get it to mail me queued posts- which is a pain as it means
    the only way I can check is to skim each forum to see if anything requires it.

    </p>

    <p>I am also yet to find a method of showing the poll results in the "current
    poll" bar when you have already voted.

    </p>

    <p>Anyway - if you spot anything unusual, odd or buggy - please let me know. I
    will fix what I can. If you are using greasemonkey regularly on OrionRobots -
    tell me what for, and I may try and incorporate it into the sites design.

    </p>

    <p>Cheers

    <br/>Orion

    </p>

    '
  date: M27 of June, 2005 13:43 BST
- author: orion
  content: '

    <p>The upgrade has been performed.

    <br/>I will investigate, and utilise any new features. In the meantime be aware
    that bugs or issues may manifest themselves.

    </p>

    <p>Cheers

    <br/>Orion

    </p>

    '
  date: Sat 25 of June, 2005 16:09 BST
thread:
  author: orion
  href: tiki-view_forum_thread.php?comments_parentId=165&topics_offset=8
  last_post_date: "Mon 27 of June, 2005 13:43 BST \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nRe: Upgrade by orion"
  name: Upgrade
  posts: 2
  reads: 17507
  slug: upgrade
  subcomment: ''
title: Announcements | Upgrade
topic:
  href: tiki-view_forum.php?forumId=1
  last_post_date: Sat 24 of Feb., 2007 16:36 GMT
  last_post_info: Problem with forums posts by orion
  name: Announcements
  post_count: 26
  slug: announcements
  subcomment: Things we feel it is important that you know about
  thread_count: 18
  visits: 66854
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
