---
layout: default
title: unboxing_pictures
---
<h1>CNC Mill Router (6 images)</h1>
<span class="textsm"></span>
<p class="desc"><p><span class="textreg">Click a picture to see a larger view.</span><br>
<hr size="1">
<a href="target0.html"><img align="center" src="thumbnails/img_3016.jpg" width="154" height="118" title="img_3016.jpg" border="0"></a>
<a href="target1.html"><img align="center" src="thumbnails/img_3017.jpg" width="154" height="118" title="img_3017.jpg" border="0"></a>
<a href="target2.html"><img align="center" src="thumbnails/img_3018.jpg" width="154" height="118" title="img_3018.jpg" border="0"></a>
<a href="target3.html"><img align="center" src="thumbnails/img_3019.jpg" width="154" height="118" title="img_3019.jpg" border="0"></a>
<a href="target4.html"><img align="center" src="thumbnails/img_3020.jpg" width="154" height="118" title="img_3020.jpg" border="0"></a>
<a href="target5.html"><img align="center" src="thumbnails/img_3023.jpg" width="154" height="143" title="img_3023.jpg" border="0"></a>

