<div class="container">
    <figure class="img-thumbnail">
        <img src="{{ include.url }}" alt="{{ include.description }}" class="img-fluid rounded">
        <figcaption>{{ include.description }}</figcaption>
    </figure>
</div>
