<div class="widget widget-mailing-list" id="widget-mailing-list">

    <div class="widget-header">
      <h3>Orionrobots Robot Building News</h3>
    </div>


    <div class="widget-content">
      <p>The latest news about robot building - cool builds, products and developments.</p>
    </div>

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//myshopify.us5.list-manage.com/subscribe/post?u=d81fb5a81e1405d8553659924&amp;id=8154bb84dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to our mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_d81fb5a81e1405d8553659924_8154bb84dd" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

</div>
<section class="widget widget-text">
    <div class="widget-header">
      <h3>Contact Us</h3>
    </div>
    <div class="widget-content">
        If you need more information or support please contact us:
        <ul>
            <li>Email <a href="mailto:customer.service@orionrobots.co.uk" target="_blank">Customer Service</a></li>
            <li>Phone: +44 20 3290 4663</li>
        </ul>
    </div>
</section>