<div class="panel panel-default">
    <div class="panel-heading">Learn Robotics Programming 2nd Edition</div>
    <div class="panel-body">
        <p>Time to build your own robot! Using a Raspberry Pi with parts and some time, you can use my book to learn how to make and program a robot with automatic behaviours.</p>
        <div class="center-block">
            <a href="http://packt.live/2XccaKe"><img src="/galleries/learn-robotics-programming-2nd-edition/learn-robotics-programming-2nd-cover.jpg" class="img-responsive"><br />
            Learn Robotics Programming 2nd Edition. Build and control autonomous robots with a Raspberry Pi and Python 3.</a>
        </div>
    </div>
</div>
