---
layout: default
permalink: /forums/electronics/preferred_microcontrollers/index.html
posts:
- author: orion
  content: '

    <p>There are now many forms of controller on the market. Each have their own abilities
    and advantages as well as annoyances and bugs.

    </p>

    <p>We want to hear what you like, or dislike about certain controllers, their
    pricing, their flexibility, their ease of use, educational value, IO/interfacing
    ability.

    </p>

    <p>I mean any, from the <a href="/wiki/lego_rcx.html" title="The Lego
    RCX">Lego RCX</a> and <a href="/wiki/cybermaster.html" title="CyberMaster">CyberMaster</a>
    to the <a href="/wiki/oopic.html" title="OOPic">ooPIC</a>, the <a
    href="/wiki/pic.html" title="PIC">PIC</a> Micro''s themselves, GumStix, RoboStix, 
    Basic Stamp and every other one you use.

    </p>

    <p>If you use <a href="/wiki/fpga.html" title="Field Programmable
    Gate Array">FPGA</a> or CPLD devices, then let us know - these are a paradigm
    shift away from the standard microcontroller, although there are Open Cores that
    allow them to function exactly as one.

    </p>

    <p>Compare also the boards you can fit them in, for example, the ooPIC-R board
    is great for <a href="/wiki/servo_motor.html" title="Servo Motor">Servo</a>
    applications, but perhaps not as flexible as the S board.

    </p>

    <p>I will be working on a comparison chart and run down (we did once have one,
    but it is a little neglected). I want opinions, ratings out of ten and facts as
    well.

    </p>

    <p>The ratings should be marks out of ten, for any of the following(as many or
    as little as you want):

    </p>

    <ul><li>Value For Money

    </li><li>Ease Of Use (overall)

    </li><li>Educational Value

    </li><li>I/O Connectivity (Motors, Sensors etc)

    <ul><li>I/O Number of Inputs

    </li><li>I/O Number of Outputs

    </li><li>I/O Flexibility of IO (Analogue, Digital Interrupts)

    </li><li>Completeness (Built in PWM''s and H-Bridges, Pins configured to accept
    standard servo plugs)

    </li></ul></li><li>Communication Connectivity (IR, Serial/COM, I2C bus or even
    wireless)

    </li><li>Memory - If you know it, it is worth stating what architecture it uses,
    and what you like/dislike. Many use Harvard Architecture, 
    some use Von Neumann Architecture.

    <ul><li>Program memory

    </li><li>Data storage

    </li></ul></li><li>Programming Languages

    <ul><li> availability (how much choice there are of languages)

    </li><li>ease of use

    </li><li>Flexibility

    </li><li>Value For money

    </li></ul></li><li>Programmer/Programming Cable

    <ul><li>availability

    </li><li>value

    </li><li>ease of use

    </li></ul></li><li>Support

    <ul><li>Documentation

    </li><li>Company Support - How much information, or support can you get out of
    the supplier/manufacturer?

    </li><li>Community Support - How much information is out there on the internet?
    Newsgroups, mailing lists, yahoo groups etc?

    </li></ul></li><li>Availability - How easy is it to order, is it still available?

    </li></ul><p>

    <br/>From this, we can build up a fair picture of what the community uses which
    controllers for, and how much a particular one is used.

    </p>

    <p>Orion

    </p>

    '
  date: Tue 05 of July, 2005 14:10 BST
- author: Anonymous
  content: '

    <p>I don''t have a lot of experience with the more simple devices, but I found
    STAMPs very easy to get to grips with and program.

    </p>

    <p>Im my opinion, PICs are the best, cheap (expendable), very powerful and flexible
    and upgradable. There are so many to choose from and the code is pretty much portable
    as long as you write it well. The major drawback is that you need a fairly good
    understanding of the working of the chip to use it to the full, but if you are
    prepared to invest the time then you will appreciate just how useful that knowledge
    is. Also, the choice of languages is great. You can use assembly for speed, basic
    for simplicity and c for power, even mixing as you go.

    </p>

    <p>Plus you get to use ALL the I/O from the device for yourself and programming
    is easy as you want.

    </p>

    <p>James

    </p>

    '
  date: Wed 13 of July, 2005 23:25 BST
- author: Anonymous
  content: '

    <p>&#x2753; &#128539;

    <br/>I think the oopic is the best!&#128526;&#x1F600;
    &#x1F610;

    </p>

    '
  date: M11 of July, 2005 23:23 BST
thread:
  author: orion
  href: tiki-view_forum_thread.php?comments_parentId=176&topics_offset=3
  last_post_date: "Wed 13 of July, 2005 23:25 BST \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nRe: Preferred Microcontrollers by Anonymous"
  name: Preferred Microcontrollers
  posts: 2
  reads: 30161
  slug: preferred_microcontrollers
  subcomment: What are your preferred microcontrollers?
title: Electronics | Preferred Microcontrollers
topic:
  href: tiki-view_forum.php?forumId=2
  last_post_date: Tue 22 of Apr., 2008 20:02 BST
  last_post_info: 'Re: I need help with first build by crazydiamond943'
  name: Electronics
  post_count: 18
  slug: electronics
  subcomment: Anything relating to the electronic engineering
  thread_count: 7
  visits: 60805
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
