---
layout: default
permalink: /forums/electronics/small_motors/index.html
posts:
- author: Anonymous
  content: "\n\tme and my frends are going to build small battle bots using remote\
    \ control cars for the main design. any ways we need to know if any one knows\
    \ a place in B.C. (prefferably around Prince George (central b.c.)) wherre we\
    \ can buy small motors with a high RPM..... somewhere aroun 20,000. the need to\
    \ fit on a standard size RC. thanks for your help.\n\n\t\n"
  date: Thu 24 of Feb., 2005 11:50 GMT
- author: orion
  content: '

    <p>I would recommmend going and ordering on the ''net - or as slurp suggests,
    local modelling shops. If you are using standard RC, then to be fair, there is
    nowhere better than model shops.

    </p>

    <p>Depending on the scale, and the level of control you want over the speed of
    your bots, you may want to consider using modified servos directly with an RC
    without a speed controller. There are many online [Robot stores](/pages/robot-stores.html)
    that sell these now - or you can buy a standard servo, and modify it for continuous
    rotation yourself.

    </p>

    '
  date: Sun 10 of Apr., 2005 14:25 BST
- author: slurp
  content: '

    <p>have you checked the model shops?

    </p>

    <p>regards,

    <br/>colin

    </p>

    '
  date: Sat 09 of Apr., 2005 08:42 BST
thread:
  author: Anonymous
  href: tiki-view_forum_thread.php?comments_parentId=51&topics_offset=5
  last_post_date: "Sun 10 of Apr., 2005 14:25 BST \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nRe: small motors by orion"
  name: small motors
  posts: 2
  reads: 26201
  slug: small_motors
  subcomment: ''
title: Electronics | small motors
topic:
  href: tiki-view_forum.php?forumId=2
  last_post_date: Tue 22 of Apr., 2008 20:02 BST
  last_post_info: 'Re: I need help with first build by crazydiamond943'
  name: Electronics
  post_count: 18
  slug: electronics
  subcomment: Anything relating to the electronic engineering
  thread_count: 7
  visits: 60805
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
