---
layout: default
permalink: /forums/site_feedback/forum_suggestions/index.html
posts:
- author: orion
  content: '

    <p>Bearing in mind that users can now comment on individual Wiki pages, are there
    other top level areas you would like to see here in the forums?

    </p>

    <p>Cheers

    <br/>Orion

    </p>

    '
  date: Fri 17 of June, 2005 22:28 BST
- author: ArtBot
  content: '

    <p>Danny,

    <br/>Checked with a radio shack in sunnyvale (silicon valley) and they have about
    eighty sets in stock. seems like the were sent all the inventory of stores that
    were not selling. They were priced at $99 but one salesman though they went off
    sale today!  there was no manager availible to confirm this so will call them
    in the morning to find out.  worst case is they are $150 again, 50% like all the
    accessories.  I''ll check the shipping weight so we can figure out to get it to
    you, any ideas on the best method?

    <br/>Will be out all day tomorrow so will let you know what I find out in the
    evening.

    </p>

    <p>my email:

    </p>

    <ul><ul><ul><ul><ul><li>@*******

    </li></ul></ul></ul></ul></ul>

    '
  date: Sun 16 of Apr., 2006 10:24 BST
thread:
  author: orion
  href: tiki-view_forum_thread.php?comments_parentId=155&topics_offset=3
  last_post_date: "Sun 16 of Apr., 2006 10:24 BST \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nVex from california by ArtBot"
  name: Forum Suggestions
  posts: 1
  reads: 28152
  slug: forum_suggestions
  subcomment: Are there other forum topics you would like to see here
title: Site Feedback | Forum Suggestions
topic:
  href: tiki-view_forum.php?forumId=7
  last_post_date: Sat 09 of Oct., 2010 14:31 BST
  last_post_info: 'Re: Was some thing lost in the face lift? by orion'
  name: Site Feedback
  post_count: 20
  slug: site_feedback
  subcomment: What are your thoughts on OrionRobots, how can it be improved?
  thread_count: 6
  visits: 58267
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
