---
layout: default
permalink: /forums/site_feedback/front_page_looked_bad/index.html
posts:
- author: orion
  content: '

    <p>I spotted a mistake on my websites rendering when viewing it in a browser with
    smaller metrics (something I should do more often).

    <br/>I noticed that on the front page, the side bar was pushed right out, obscuring
    the Login box. If you spot something like this, or browser incompatibilities,
    please let me know!

    </p>

    <p>I will say that the site is best viewed in Firefox - my primary browser, although
    it has been tested in Mozilla, Opera, IE and even Interactor.

    </p>

    <p>I have now tested on 1028x768 and 1280x1024. I dont think it renders very well
    in 640x480. I am interested to hear the findings of Lynx users.

    </p>

    <p>Orion

    </p>

    '
  date: Thu 17 of Mar., 2005 22:11 GMT
- author: orion
  content: '

    <p>&gt; Colin, the latest update should have fixed this properly. Hopefully it
    will not break anything. I am still testing it.

    </p>

    <p>Okay the new site issues are now fixed. The Google Ads are now in better places,
    the login is at the top. I ma looking for any other feedback people have about
    it now the upgrades are live.

    </p>

    '
  date: Sat 28 of Feb., 2009 16:04 GMT
- author: orion
  content: "\n\tColin, the latest update should have fixed this properly. Hopefully\
    \ it will not break anything. I am still testing it.\n\n\t\n"
  date: Thu 26 of Feb., 2009 20:54 GMT
- author: orion
  content: '

    <p>Hi Colin,

    <br/>I am trying to keep the google ads above the fold line - but I suspect the
    Login box might be good on the Left, and the search, and online users tools on
    the right where the box is now.

    </p>

    <p>When you are logged in - your posts (in theory) should go through, with tout
    the moderation process. The process was put in place because I ended up with lots
    of poker game people flyblogging - and had to close up the access to the forums
    a little.

    </p>

    <p>The long moderation times are currently down to when I check each of the forums
    - the problem being that the current version of TikiWiki - the CMS I am using,
    does not email or notify me when there are queued messages, and the only way to
    approve them is to check each individual forum - it s a bore, and when I have
    a moment - I may look to finding a way to get the PHP to mail me...

    <br/>Cheers,

    <br/>Orion

    </p>

    '
  date: M04 of Apr., 2005 14:05 BST
- author: Anonymous
  content: |
    <p>I think you should put your login about the google ads.... pushed to the bottom
    corner of the page it's missed.</p>

    <p>suppose XFM Featherweight Challenge I should register... would it reduce the
    long moderation time lags?</p>

    <p>regards,

    <br/>colin

    </p>
  date: M04 of Apr., 2005 14:01 BST
thread:
  author: orion
  href: tiki-view_forum_thread.php?comments_parentId=83&topics_offset=4
  last_post_date: "Sat 28 of Feb., 2009 16:04 GMT \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nRe: Re: Front Page looked bad by orion"
  name: Front Page looked bad
  posts: 4
  reads: 34500
  slug: front_page_looked_bad
  subcomment: ''
title: Site Feedback | Front Page looked bad
topic:
  href: tiki-view_forum.php?forumId=7
  last_post_date: Sat 09 of Oct., 2010 14:31 BST
  last_post_info: 'Re: Was some thing lost in the face lift? by orion'
  name: Site Feedback
  post_count: 20
  slug: site_feedback
  subcomment: What are your thoughts on OrionRobots, how can it be improved?
  thread_count: 6
  visits: 58267
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
