---
layout: default
permalink: /forums/site_feedback/how_can_i_edit_my_profile/index.html
posts:
- author: mattbrowne
  content: |
    <p>Hi, I'm Matt Browne and new around here. How do people upload their avatar?</p>
  date: Sat 10 of Nov., 2007 17:05 GMT
- author: orion
  content: |
    <p>&gt; Hi, I'm Matt Browne and new around here. How do people upload their avatar?

    <br/>&gt;

    <br/>Hi Matt,

    </p>

    <p>Do you know - I think I overlooked preferences in the simplified menu. I have
    just added that in for you, after About Us. I will have to factor it in properly
    later...</p>

    <p>Cheers,

    <br/>Danny

    </p>
  date: Sat 10 of Nov., 2007 23:12 GMT
thread:
  author: mattbrowne
  href: tiki-view_forum_thread.php?comments_parentId=320&topics_offset=2
  last_post_date: "Sat 10 of Nov., 2007 23:12 GMT \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nRe: How can I edit my profile? by orion"
  name: How can I edit my profile?
  posts: 1
  reads: 24096
  slug: how_can_i_edit_my_profile
  subcomment: ''
title: Site Feedback | How can I edit my profile?
topic:
  href: tiki-view_forum.php?forumId=7
  last_post_date: Sat 09 of Oct., 2010 14:31 BST
  last_post_info: 'Re: Was some thing lost in the face lift? by orion'
  name: Site Feedback
  post_count: 20
  slug: site_feedback
  subcomment: What are your thoughts on OrionRobots, how can it be improved?
  thread_count: 6
  visits: 58267
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
