---
layout: default
permalink: /forums/site_feedback/queing/index.html
posts:
- author: Anonymous
  content: "\n\tI think one thing to improve the flow of the forums would be, being\
    \ able to see messages posted right away, instead of holding them for moderation\
    \ first.  There's a few messages I posted quite a while ago that are still not\
    \ here.\n\n\t\n"
  date: Thu 24 of Feb., 2005 11:53 GMT
- author: orion
  content: '

    <p>In an attempt to stop flyposting and spamming, I tried to play with the settings,
    and annoyingly anonymous posting with queuing seems to have stopped working. So
    the current status is that anonymous posting is now disabled.

    </p>

    <p>All users wanting to post, will now have to register.

    </p>

    <p>Orion

    </p>

    '
  date: Thu 28 of July, 2005 21:20 BST
- author: Anonymous
  content: '

    <p>I think flybloggers have found a way in, since the upgrade- I have been able
    to post without queuing.

    </p>

    <p>I hope Orion does something - this website is a good resource, and he has kept
    it very clean and family friendly.

    </p>

    '
  date: Sun 24 of July, 2005 12:55 BST
- author: Anonymous
  content: '

    <p>&gt; I think I agree with Orion in principle. Are only anonymous posts queued
    or all?

    <br/>&gt;

    <br/>&gt; Flyblogging/flyposting is a real problem in the blogosphere at the moment.
    The other solution is to have a generated picture method to deal with it.

    </p>

    <p>As far as I can see, Orion is only queueing anonymous posts, though recently
    - some flyblogger has gotten through - I am not sure how though.

    </p>

    <p>Flyblogging is definately a problem- AFAIK tikiwiki (the software OrionRobots
    uses for its website) does not have image based human verification on posts- I
    have expereince with the software myself, and that would be a very welcome addition.

    </p>

    '
  date: Sun 24 of July, 2005 12:53 BST
- author: Anonymous
  content: '

    <p>I think I agree with Orion in principle. Are only anonymous posts queued or
    all?

    </p>

    <p>Flyblogging/flyposting is a real problem in the blogosphere at the moment.
    The other solution is to have a generated picture method to deal with it.

    </p>

    '
  date: M14 of Mar., 2005 13:53 GMT
- author: orion
  content: '

    <p>I should be checking the queued more often. This was put on as an alternative
    to disabling anonymous posting- to stop spam and abuse it was really a case of
    one or the other. While queuing does as you say disrupt the flow, it means admins
    get to sift flybloggers, or people who simply want to post expletives before it
    reaches the forums. I will try to be a bit more responsive in my moderation though.

    </p>

    <p>Thanks for the comment!

    </p>

    '
  date: Thu 24 of Feb., 2005 11:55 GMT
thread:
  author: Anonymous
  href: tiki-view_forum_thread.php?comments_parentId=52&topics_offset=5
  last_post_date: "Thu 28 of July, 2005 21:20 BST \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nRe: queing? by orion"
  name: queing?
  posts: 5
  reads: 28270
  slug: queing
  subcomment: ''
title: Site Feedback | queing?
topic:
  href: tiki-view_forum.php?forumId=7
  last_post_date: Sat 09 of Oct., 2010 14:31 BST
  last_post_info: 'Re: Was some thing lost in the face lift? by orion'
  name: Site Feedback
  post_count: 20
  slug: site_feedback
  subcomment: What are your thoughts on OrionRobots, how can it be improved?
  thread_count: 6
  visits: 58267
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
