---
layout: default
permalink: /forums/site_feedback/topic_order/index.html
posts:
- author: slurp
  content: '

    <p>can you swap the default topic order?

    </p>

    <p>regards,

    <br/>colin

    </p>

    '
  date: Sun 24 of Feb., 2008 23:01 GMT
- author: slurp
  content: '

    <p>Looking at the "general" forum you have the oldest topics first... seems odd
    and not so helpful.

    </p>

    <p>regards,

    <br/>colin

    </p>

    '
  date: M24 of Mar., 2008 23:43 GMT
- author: orion
  content: '

    <p>&gt; can you swap the default topic order?

    <br/>&gt;

    <br/>&gt; regards,

    <br/>&gt; colin

    </p>

    <p>Hi Colin,

    <br/>For which part of the site? The forums?

    </p>

    <p>Thanks,

    <br/>Danny

    </p>

    '
  date: M25 of Feb., 2008 07:12 GMT
thread:
  author: slurp
  href: tiki-view_forum_thread.php?comments_parentId=328&topics_offset=1
  last_post_date: "Mon 24 of Mar., 2008 23:43 GMT \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nRe: Topic Order... by slurp"
  name: Topic Order...
  posts: 2
  reads: 31005
  slug: topic_order
  subcomment: new to old topic order would make navigation easier...
title: Site Feedback | Topic Order...
topic:
  href: tiki-view_forum.php?forumId=7
  last_post_date: Sat 09 of Oct., 2010 14:31 BST
  last_post_info: 'Re: Was some thing lost in the face lift? by orion'
  name: Site Feedback
  post_count: 20
  slug: site_feedback
  subcomment: What are your thoughts on OrionRobots, how can it be improved?
  thread_count: 6
  visits: 58267
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
