---
layout: default
permalink: /forums/site_feedback/was_some_thing_lost_in_the_face_lift/index.html
posts:
- author: slurp
  content: |
    <p>I'd added a link to an addition robot resource to an existing thread but it's
    disappeared.</p>

    <p>Was there something wrong with it or was it lost in the face lift?</p>

    <p>regards,
    <br/>Colin
    </p>
  date: Sat 09 of Oct., 2010 11:46 BST
- author: orion
  content: |
    <p>&gt; I'd added a link to an addition robot resource to an existing thread
    but it's disappeared.

    <br/>&gt;

    <br/>&gt; Was there something wrong with it or was it lost in the face lift?

    <br/>&gt;

    <br/>&gt; regards,

    <br/>&gt; Colin

    <br/>Hi Colin,

    <br/>It could well have been- the main reason for the face lift was actually a
    major upgrade to the CMS software, which required major style sheet changes, so
    the face lift came with it. I'll see if I can find the post in the backup DB
    from then - as it was on a DB about 3/4 days older than the main site. I'd had
    a lot of spam comments appearing on the site in various places - otherwise Id
    have ignored the updates, and also taken a newer DB copy.

    <br/>Sorry about that.

    </p>

    <p>Danny

    </p>

    '
  date: Sat 09 of Oct., 2010 14:31 BST
thread:
  author: slurp
  href: tiki-view_forum_thread.php?comments_parentId=439
  last_post_date: "Sat 09 of Oct., 2010 14:31 BST \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nRe: Was some thing lost in the face lift? by orion"
  name: Was some thing lost in the face lift?
  posts: 1
  reads: 9953
  slug: was_some_thing_lost_in_the_face_lift
  subcomment: ''
title: Site Feedback | Was some thing lost in the face lift?
topic:
  href: tiki-view_forum.php?forumId=7
  last_post_date: Sat 09 of Oct., 2010 14:31 BST
  last_post_info: 'Re: Was some thing lost in the face lift? by orion'
  name: Site Feedback
  post_count: 20
  slug: site_feedback
  subcomment: What are your thoughts on OrionRobots, how can it be improved?
  thread_count: 6
  visits: 58267
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
