---
layout: default
permalink: /forums/open_discussion/more_mini_sumo/index.html
posts:
- author: slurp
  content: '

    <p>

    <br/>Another heads up for Mini Sumo (&amp; Micromouse!)

    </p>

    <p>TIC in Birmingham have been hosting Micromouse competitions since the 1980''s.
    Their next competition is on the 30 June 2007 and will include a Mini Sumo competition.

    </p>

    <p>It will follow the UK rules <a href="http://www.minisumo.org.uk/rules.php">http://www.minisumo.org.uk/rules.php</a>

    </p>

    <p>More info can be found here <a href="http://www.tic.ac.uk/micromouse/news.asp">http://www.tic.ac.uk/micromouse/news.asp</a>

    </p>

    <p>and registration here <a href="http://www.tic.ac.uk/micromouse/Registration2007.asp">http://www.tic.ac.uk/micromouse/Registration2007.asp</a>

    </p>

    <p>Generally competitions are a great place to meet and talk.

    </p>

    <p>Best regards,

    <br/>colin

    </p>

    <p>

    </p>

    '
  date: Sun 13 of May, 2007 14:43 BST
- author: slurp
  content: '

    <p>

    <br/>&gt; Another heads up for Mini Sumo (&amp; Micromouse!)

    <br/>&gt;

    <br/>&gt; TIC in Birmingham have been hosting Micromouse competitions

    <br/>&gt; since the 1980''s. Their next competition is on the 30 June 2007

    <br/>&gt; and will include a Mini Sumo competition.

    </p>

    <p>Well that was a fantastic event, not so many minisumo but the wall followers
    and maze solving was awesome!

    </p>

    <p>The venue was ace, shame I didn''t manage to get a look round the science museum
    down stairs... I''m certainly looking forward the next one.

    </p>

    <p>My performance wasn''t so great in the minisumo but at least I''ve two weeks
    to sort the problems before the next AWS event in Hull. <a href="http://www.robotwars101.org./phpBB/viewtopic.php?t=832">http://www.robotwars101.org./phpBB/viewtopic.php?t=832</a>

    </p>

    <p>best regards,

    <br/>colin

    </p>

    <p><a href="http://www.minisumo.org.uk">www.minisumo.org.uk</a>

    </p>

    '
  date: Sun 01 of July, 2007 13:32 BST
thread:
  author: slurp
  href: tiki-view_forum_thread.php?comments_parentId=296&topics_offset=17
  last_post_date: "Sun 01 of July, 2007 13:32 BST \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nRe: More Mini Sumo by slurp"
  name: More Mini Sumo
  posts: 1
  reads: 25234
  slug: more_mini_sumo
  subcomment: appearing at TIC Micromouse competition.
title: Open Discussion | More Mini Sumo
topic:
  href: tiki-view_forum.php?forumId=5
  last_post_date: Fri 06 of July, 2012 13:42 BST
  last_post_info: 'Re: Variable Surface Curvature Lego System? by orion'
  name: Open Discussion
  post_count: 110
  slug: open_discussion
  subcomment: Anything else - but try to keep it robot related! If you want to send
    a message to the operator of the site, please use the Contact Us Page on the menu
    to the right.
  thread_count: 39
  visits: 201065
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
