---
layout: default
permalink: /forums/open_discussion/project_aiko_female_android_demo_2/index.html
posts:
- author: aibot
  content: '

    <p>Hi

    </p>

    <p>To Danny From previous post

    </p>

    <p>

    <br/>It was very tricky to program Aiko to solve math. Example the difference
    between "1" and "7".

    <br/>But I had fun doing it.

    </p>

    <p>IT was good learning experience, but I can:t afford to fail, because I have
    spent to much money on it.

    <br/>My credit card is pretty much max out.

    </p>

    <p>Half of the data is base on Sandai data input and the other half is ALICE.

    <br/>I tried to hybrid the two together.

    </p>

    <p>Yes, I have switch to a different servo, it seems to make less noise than before.

    </p>

    <p>Right now, I am still looking for a sponsor, I estimated that it will take
    another $8,000 to make Aiko walk.

    </p>

    <p>

    <br/>Anyway,

    </p>

    <p>Project Aiko.

    </p>

    <p>I have uploaded a new video.

    <br/>It is a short 6 minutes video.

    <br/>A full video demonstration is 45 minutes, but I don''t have the time, so
    6 minutes it is.

    </p>

    <p>

    <br/>It is still a long way to make it perfect, but one step at a time.

    <br/>Next month I will show how the internal software of Aiko works.

    <br/>Including Motion Tracing, Object Tracking and recognition. And Face Extraction
    and Recognition

    </p>

    <p>I still need to make the movement more smooth. But one step at a time.

    </p>

    <p>Also, Aiko will make her first public appearance at the International Center
    on Nov 2007.

    <br/>Aiko will do 45 minutes of Full demonstration.

    </p>

    <p>Thanks for reading.

    </p>

    <p>Please go to the website and watch the video.

    </p>

    <p>

    <br/><a class="wiki external" href="http://www.projectaiko.com" rel="external">http://www.projectaiko.com</a>

    </p>

    '
  date: M01 of Oct., 2007 16:49 BST
- author: aibot
  content: '

    <p>Hi

    </p>

    <p>Hi, Sam. Hoping you are working hard on your new fembot.

    <br/>One step at a time.

    </p>

    <p>Danny, is correct when he said that there are limitation to wireless.

    <br/>Interference.... especially at a TV station or a public appearance.

    <br/>I learn the hard way. I only use wireless to access the weather from the
    internet.

    </p>

    <p>

    <br/>Anyway, here is the latest Aiko''s Hand Video.

    </p>

    <p>Human Brain &gt;&gt; Nerve Impulse &gt;&gt; Muscle &gt;&gt; Aiko''s Hand

    </p>

    <p>This technology can be beneficial for people born with or who have undergone
    amputations.

    <br/>The hand can pick up small items such as beer''s cap, to large items including
    coffee cup.

    </p>

    <p>Can be used for human or Aiko

    </p>

    <p>

    <br/>1) 5 movable fingers

    <br/>2) Compact size. Same as human''s hand

    <br/>3) Will have complete sensors for feedback

    <br/>4) Low Power consumption 5V

    <br/>5) Can be use for Aiko. or human

    <br/>6) 15 movable joints

    </p>

    <p><a href="http://www.projectaiko.com/hand.html">http://www.projectaiko.com/hand.html</a>

    </p>

    '
  date: Fri 29 of Aug., 2008 10:17 BST
- author: orion
  content: '

    <p>Hi Sam,

    </p>

    <p>Good to hear that. Keep me posted on your efforts. If you have a site, let
    me know, and we will happily link to it. Otherwise, I can set you up a blog here
    for your robot stuff if you would like.

    </p>

    <p>Using the net for intelligence has pros and cons. Perhaps the biggest pros
    are that it is easy to upgrade, and is not limited to the size needed to fit it
    into the robot.

    </p>

    <p>However the cons are somewhat awkward. First there is the lag time, a robot
    must first send sensory data, then process and then send it back. This could make
    a conversation very slow. The lag could make it unbearable to interact with the
    bot. The other con is that the robot then has a very limited sphere of operation
    - within range and without obstructions of the transmitter. Using the cell phone,
    or citywide wireless meshes where they exist can deal with the second problem
    but not the first.

    </p>

    <p>Also a shared network may mean the bandwidth needed to do any kind of image
    or speech processing interactively is simply not available, or meeting a lot of
    contention.

    </p>

    <p>I suspect that offboard intelligence is fine for a robot expected to operate
    in a well defined area, and not interact with people, but I am not so sure of
    it being good for personal relations. Perhaps it would serve well for a robotic
    receptionist, meant to stay in basically one place, and therefore able to have
    a pretty high bandwidth dedicated wireless band.

    </p>

    <p>Bear in mind that ALICE and other AI will now run quite comfortably on small
    scale devices. I remember running an early ALICE bot on a DOS based machine in
    the 90''s. Most phones and PDA''s will run it. Speech processing can be done on
    a single chip, and with things like the CMU cam or similar, camera processing
    can also be done on other chips, with the main CPU simply receiving high level
    versions of things at those inputs. Wireless is probably best used for back ups
    and software/firmware updates, as well as occasionally dipping into expert systems
    on the net for facts.

    </p>

    <p>Cheers,

    <br/>Danny

    </p>

    '
  date: M28 of July, 2008 21:54 BST
- author: elvensynth
  content: '

    <p><tt> hello,my name is Sam Schwenneker, and i am building female Androids as
    well.</tt>

    </p>

    <p><tt> i am very new to the field of robotics, and i have a new layout design
    for my next prototype. i plan on working on one part at a time.</tt>

    </p>

    <p><tt> I have a suggestion for Aiko, if it might help.</tt>

    </p>

    <p><tt> Why not use a wireless microcontroller and use E-Speaking.com as a default
    to run ALICE bot programs such as Pandorabots for her Ai.</tt>

    <br/>Or you could incorporate a devantech speech synthesizer module (female type)
    to a microcontroller, which you can purchase at: Robotshop.com.

    </p>

    <p><tt> i figure if the Android is having trouble with storing memory, just go
    wireless and use the net.</tt>

    </p>

    <p>Ps Aiko looks(to me) like an exact replica of a honeydoll or candy girl, just
    a robotic version.

    <br/>(Sam S. of elvensynth)

    </p>

    <p>(Address edited out by orion - please do not post email addresses, please use
    the Watch buttons on the forum. Let me know if they do not work. I do not want
    to encourage spam bots here)

    </p>

    '
  date: Wed 23 of July, 2008 01:28 BST
- author: orion
  content: '

    <p>Thanks Le,

    </p>

    <p>Have you heard of the <a href="Pino" title="The Pino
    Project aka Open Pino is intended as a standard platform for humanoid robotics.">PINO</a>
    platform? It is a project to provide a platform for android like robotics. It
    only describes the servos and mechanical structure, and does not at all cover
    the programming or other aspects, but it is open source.

    </p>

    <p>I think like you say, with enough interested people working on a platform like
    this, it will soon evolve and become more complex, but the barriers to overcome
    are that this is very expensive to get into and parts are hard to source. My focus
    on small scale prototyping and manufacturing in my own current work (which I am
    yet to document properly on the site) is to try and really seriously lower this
    barrier to entry. Then we may see evolution of the mechanics, electronics and
    software for the robots start to accelerate I hope.

    </p>

    <p>Cheers,

    <br/>Danny

    </p>

    '
  date: Sun 14 of Oct., 2007 12:13 BST
- author: aibot
  content: '

    <p>Hi

    </p>

    <p>I must apologise for my ignorance - The International Centre Where? Tokyo?

    </p>

    <p>Sorry, my fault, I should be more clear.

    <br/>International Center is located in Toronto, On, Canada.

    <br/>It is across from the Toronto International Airport.

    <br/>Most of the trade shows, hobby, electronics, crafts, motorcycle... etc are
    held there regularly.

    </p>

    <p>I believe that there are many applications for Aiko and the BRAINS software.  Hopefully,
    one day it will be benefit to man kind, especially companions for the Elderly
    and the health care system.

    </p>

    <p>Currently, Aiko has simple learning system. Maybe one day, if there is enough
    people working on Aiko as an open source, we can make a more complex learning
    system with the ability to learn new things just like human.

    </p>

    <p>Example,

    <br/>Aiko has the ability to feel emotion, so that she can Sing etc.

    </p>

    <p>Regards,

    <br/>Le

    </p>

    '
  date: Tue 09 of Oct., 2007 18:47 BST
- author: orion
  content: '

    <p>Hi there,

    <br/>Thanks for your posts. I am happy that you are announcing your progress with
    Aiko here, and wish you all the best.

    </p>

    <p>I must apologise for my ignorance - The International Centre Where? Tokyo?

    </p>

    <p>I am impressed with what you have done with this - I spotted that this project
    has made the News, and is even being shown on newsreels on Euronews.

    </p>

    <p>I need to write up more about my current projects - which are more geared towards
    small scale hobbyist prototyping/manufacturing. This may help you in constructing
    bespoke parts for Aiko which may save a great deal of money - please look up the
    Fabrication Labs concept, often mentioned by O''Reilly''s Make magazine.

    </p>

    <p>I did visit your site, watch the video and read the comments.

    <br/>I will thoroughly recommend that OrionRobots readers view the Project Aiko
    site too.

    </p>

    <p>In terms of sponsorship, some use cases may be: companions for the Elderly
    or in Healthcare, Teaching children via a specialised database, meet &amp; greet
    in companies or at trade shows, film studios, special effects companies as well
    as Universities and Institutions. I really do hope you find the sponsorship you
    are looking forward to make her walk.

    </p>

    <p>For readers of this thread who have not done so yet - please visit and watch
    the vids at <a class="wiki external" href="http://www.projectaiko.com" rel="external">http://www.projectaiko.com</a>.

    </p>

    <p>Cheers,

    <br/>Danny

    </p>

    '
  date: Wed 03 of Oct., 2007 21:09 BST
thread:
  author: aibot
  href: tiki-view_forum_thread.php?comments_parentId=316&topics_offset=13
  last_post_date: "Fri 29 of Aug., 2008 10:17 BST \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nRe: Female Androids by aibot"
  name: 'Project Aiko: Female Android Demo 2'
  posts: 6
  reads: 40195
  slug: project_aiko_female_android_demo_2
  subcomment: 'Project Aiko: Female Android Demo 2'
title: 'Open Discussion | Project Aiko: Female Android Demo 2'
topic:
  href: tiki-view_forum.php?forumId=5
  last_post_date: Fri 06 of July, 2012 13:42 BST
  last_post_info: 'Re: Variable Surface Curvature Lego System? by orion'
  name: Open Discussion
  post_count: 110
  slug: open_discussion
  subcomment: Anything else - but try to keep it robot related! If you want to send
    a message to the operator of the site, please use the Contact Us Page on the menu
    to the right.
  thread_count: 39
  visits: 201065
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
