---
layout: default
permalink: /forums/open_discussion/robotic_10/index.html
posts:
- author: slurp
  content: '

    <p><strong>ROBOtic''10</strong>

    <br/><a class="wiki external" href="http://www.tic.ac.uk/micromouse/ROBOtic10.asp"
    rel="external">http://www.tic.ac.uk/micromouse/ROBOtic10.asp</a>

    </p>

    <p>Saturday 27th November 2010

    <br/>10:00 - 17:00

    <br/>Millennium Point

    <br/>Birmingham B4 7XG

    </p>

    <p>2010 marks the sixth year of this event.

    </p>

    <p>There is no fee for entry - just turn up on the day. Registration from 10.00am.

    </p>

    <p>ROBOtic''10 will include competitions for (see ''The Rules'' left):

    </p>

    <p>Maze Solver, Wall Follower,Time Trials, Mini-SUMO, Line Follower, Drag Race
    and Freestyle (any robot you would like to show us)

    </p>

    '
  date: Tue 19 of Oct., 2010 20:08 BST
thread:
  author: slurp
  href: tiki-view_forum_thread.php?comments_parentId=443&topics_offset=1
  last_post_date: Tue 19 of Oct., 2010 20:08 BST
  name: ROBOTIC '10
  posts: 0
  reads: 12431
  slug: robotic_10
  subcomment: Saturday 27th November 2010
title: Open Discussion | ROBOTIC '10
topic:
  href: tiki-view_forum.php?forumId=5
  last_post_date: Fri 06 of July, 2012 13:42 BST
  last_post_info: 'Re: Variable Surface Curvature Lego System? by orion'
  name: Open Discussion
  post_count: 110
  slug: open_discussion
  subcomment: Anything else - but try to keep it robot related! If you want to send
    a message to the operator of the site, please use the Contact Us Page on the menu
    to the right.
  thread_count: 39
  visits: 201065
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
