---
layout: default
permalink: /forums/open_discussion/robotic_09/index.html
posts:
- author: slurp
  content: '

    <p>ROBOtic''09

    </p>

    <p>Saturday 28th November 2009

    <br/>Millennium Point

    <br/>Birmingham

    </p>

    <p><a href="http://www.tic.ac.uk/micromouse/index.asp">http://www.tic.ac.uk/micromouse/index.asp</a>

    </p>

    <p>Always a fab event, a great place to meet and talk shop. What more can I say?

    </p>

    <p>Best regards,

    <br/>Colin

    </p>

    <p>--

    <br/><a href="http://www.minisumo.org.uk">www.minisumo.org.uk</a>

    </p>

    '
  date: Tue 20 of Oct., 2009 23:56 BST
- author: slurp
  content: '

    <p>It was another great event in Birmingham, I didn''t catch much in the way of
    action photo''s but did grab a few pictures of the minisumo... these can be found
    here:-

    </p>

    <p><a class="wiki external" href="http://www.minisumo.org.uk/wiki/index.php?page=ROBOtic-09"
    rel="external">ROBOtic 09</a> on the minisumo wiki

    </p>

    <p>Best regards,

    <br/>Colin

    </p>

    '
  date: Tue 08 of Dec, 2009 19:40 GMT
thread:
  author: slurp
  href: tiki-view_forum_thread.php?comments_parentId=373&topics_offset=3
  last_post_date: "Tue 08 of Dec, 2009 19:40 GMT \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n\
    Re: ROBOtic '09 by slurp"
  name: ROBOtic '09
  posts: 1
  reads: 15887
  slug: robotic_09
  subcomment: the event returns to Millenium Point for another year
title: Open Discussion | ROBOtic '09
topic:
  href: tiki-view_forum.php?forumId=5
  last_post_date: Fri 06 of July, 2012 13:42 BST
  last_post_info: 'Re: Variable Surface Curvature Lego System? by orion'
  name: Open Discussion
  post_count: 110
  slug: open_discussion
  subcomment: Anything else - but try to keep it robot related! If you want to send
    a message to the operator of the site, please use the Contact Us Page on the menu
    to the right.
  thread_count: 39
  visits: 201065
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
