---
layout: default
permalink: /forums/open_discussion/robotic08/index.html
posts:
- author: slurp
  content: '

    <p>

    <br/>My weekends are working well for this one. This is the 4th year for this
    event, as before there are no fees for entry - you can just turn up on the day!
    I''d hope that we can run a MiniSumo competition with enough people there.

    </p>

    <p>10:00 - 16:00 Saturday 29th November 2008

    </p>

    <p>Technology Innovation Centre

    <br/>Millennium Point

    <br/>Birmingham B4 7XG

    </p>

    <p>best regards,

    <br/>colin

    </p>

    '
  date: Sun 26 of Oct., 2008 23:38 GMT
- author: slurp
  content: '

    <p>Event Link:-

    </p>

    <p><a href="http://www.tic.ac.uk/micromouse/ROBOtic08.asp">http://www.tic.ac.uk/micromouse/ROBOtic08.asp</a>

    </p>

    <p>I think the Holloway events are annual in April but I don''t have any details.
    Best bet is to keep an eye on the micromouse forum....

    </p>

    <p><a href="http://www.micromouseonline.com/forum/">http://www.micromouseonline.com/forum/</a>

    </p>

    <p>regards,

    <br/>colin

    </p>

    '
  date: Sun 16 of Nov., 2008 23:36 GMT
- author: orion
  content: '

    <p>&gt; Hi Danny,

    <br/>&gt;

    <br/>&gt; You coming to this one?

    <br/>&gt;

    <br/>&gt; I liked the photos of the last event, Should be good fun again this
    time.

    <br/>&gt;

    <br/>&gt; Orac

    </p>

    <p>Hi Orac,

    </p>

    <p>I also got your PM. I enjoyed the last event, but will not be able to fund
    going to Birmingham this time sadly. I do hear that there are events in Holloway
    Road in London, so I would certainly be able to make those (I am based in London).

    </p>

    <p>Cheers,

    <br/>Danny

    </p>

    '
  date: Tue 11 of Nov., 2008 15:09 GMT
- author: Orac
  content: '

    <p>Hi Danny,

    </p>

    <p>You coming to this one?

    </p>

    <p>I liked the photos of the last event, Should be good fun again this time.

    </p>

    <p>Orac

    </p>

    '
  date: M10 of Nov., 2008 22:10 GMT
- author: orion
  content: '

    <p>Thanks again for letting us know Colin. You should probably leave a link too.
    When I was there, Chloe mentioned a London event near Holloway - do you have any
    more info on that?

    </p>

    <p>Cheers

    <br/>Danny

    </p>

    <p>&gt;

    <br/>&gt; My weekends are working well for this one. This is the 4th year for
    this event, as before there are no fees for entry - you can just turn up on the
    day! I''d hope that we can run a MiniSumo competition with enough people there.

    <br/>&gt;

    <br/>&gt; 10:00 - 16:00 Saturday 29th November 2008

    <br/>&gt;

    <br/>&gt; Technology Innovation Centre

    <br/>&gt; Millennium Point

    <br/>&gt; Birmingham B4 7XG

    <br/>&gt;

    <br/>&gt; best regards,

    <br/>&gt; colin

    </p>

    '
  date: M27 of Oct., 2008 14:13 GMT
thread:
  author: slurp
  href: tiki-view_forum_thread.php?comments_parentId=349&topics_offset=7
  last_post_date: "Sun 16 of Nov., 2008 23:36 GMT \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nRe: ROBOtic'08 by slurp"
  name: ROBOtic'08
  posts: 4
  reads: 30056
  slug: robotic08
  subcomment: The next great event in Birmingham...
title: Open Discussion | ROBOtic'08
topic:
  href: tiki-view_forum.php?forumId=5
  last_post_date: Fri 06 of July, 2012 13:42 BST
  last_post_info: 'Re: Variable Surface Curvature Lego System? by orion'
  name: Open Discussion
  post_count: 110
  slug: open_discussion
  subcomment: Anything else - but try to keep it robot related! If you want to send
    a message to the operator of the site, please use the Contact Us Page on the menu
    to the right.
  thread_count: 39
  visits: 201065
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
