---
layout: default
permalink: /forums/open_discussion/role_of_science_fiction_and_the_advancement_of_robotics/index.html
posts:
- author: mattbrowne
  content: '

    <p>Most people learn about robotics from science fiction books or films. Rarely
    are there news about real life robotics achievements such as ASIMO.

    </p>

    <p>How important is science fiction for the support of future robotics efforts?

    </p>

    '
  date: Fri 07 of Dec, 2007 14:24 GMT
- author: orion
  content: '

    <p>Just for note - here is a link I found covering the book:

    </p>

    <p><a href="http://www.ansible.co.uk/books/sinsf.html">http://www.ansible.co.uk/books/sinsf.html</a>

    </p>

    <p>It can still be purchased at Amazon.

    </p>
    
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=orionrobots-21&language=en_GB&marketplace=amazon&region=GB&placement=0394713648&asins=0394713648&linkId=341267bdb00dced90f26d235aeaafec3&show_border=true&link_opens_in_new_window=true"></iframe><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=orionrobots-21&language=en_GB&marketplace=amazon&region=GB&placement=0394713648&asins=0394713648&linkId=341267bdb00dced90f26d235aeaafec3&show_border=true&link_opens_in_new_window=true"></iframe>

    <p>Cheers,

    <br/>Danny

    </p>

    '
  date: Fri 07 of Dec, 2007 19:43 GMT
- author: orion
  content: '

    <p>Hi there Matt,

    </p>

    <p>A good question, and one I thought about a lot.

    <br/>I have an old book, one I have kept since I was a kid, it is not in great
    shape, but it allows me some inspiration. It is named "The Science in Science
    Fiction" - and it specifically studied what was technobabble and what was real,
    and which parts of sci fi could become reality any time soon.

    </p>

    <p>The one device that most reminds me of this book is owned by nearly every person
    in the developed world, and will gain a foothold in the developing world - and
    that is the mobile phone which outstripped even Star Trek technology of the time
    this book was printed, by absolutely light years (excuse my pun).

    </p>

    <p>I think you are correct that there is rarely news, but there still is news,
    and things like ASIMO and QRIO, as well as the Darpa Grand Challenge, the Rep
    Rap team (who I am yet to write more about) are all things which are early news
    which possibly predate a much larger shift.

    </p>

    <p>Things seen in sci fi may come to pass, possibly in our lifetimes, but they
    will take time, and obviously inspiration. There is little better inspiration
    than sci fi, beyond perhaps studying the natural world and how creatures have
    evolved to survive in it. Sci fi is one of the driving forces, it is the dreams
    of many people captured in an easily distributed, entertaining and digestible
    form, with potential to inspire others as it did the original authors.

    </p>

    <p>I still read Sci fi today written in the 1950''s or even earlier (HG Wells
    wrote a great deal more than The War Of The Worlds), some which has dated very
    well and is just as relevant now as it was then.

    </p>

    <p>So in summary, it is very important. Without dreams, we could never reach for
    the stars. There needs to be a balance between dreamers and doers. Engineers,
    planners and architects all have there place. If you can not imagine it, if no
    one can imagine it, it may be all but impossible to achieve something.

    </p>

    <p>Keep on dreaming, and keep on building...

    </p>

    <p>Danny

    </p>

    '
  date: Fri 07 of Dec, 2007 19:30 GMT
thread:
  author: mattbrowne
  href: tiki-view_forum_thread.php?comments_parentId=324&topics_offset=11
  last_post_date: "Fri 07 of Dec, 2007 19:43 GMT \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n\
    Re: Role of science fiction and the advancement of robotics by orion"
  name: Role of science fiction and the advancement of robotics
  posts: 2
  reads: 31905
  slug: role_of_science_fiction_and_the_advancement_of_robotics
  subcomment: ''
title: Open Discussion | Role of science fiction and the advancement of robotics
topic:
  href: tiki-view_forum.php?forumId=5
  last_post_date: Fri 06 of July, 2012 13:42 BST
  last_post_info: 'Re: Variable Surface Curvature Lego System? by orion'
  name: Open Discussion
  post_count: 110
  slug: open_discussion
  subcomment: Anything else - but try to keep it robot related! If you want to send
    a message to the operator of the site, please use the Contact Us Page on the menu
    to the right.
  thread_count: 39
  visits: 201065
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
