---
layout: default
permalink: /forums/open_discussion/uk_micromouse_2010/index.html
posts:
- author: slurp
  content: '

    <p>UK MICROMOUSE 2010

    <br/>Saturday June 26th

    <br/>Millennium Point

    <br/>Birmingham B4 7XG.

    </p>

    <p><a href="http://www.tic.ac.uk/micromouse/">http://www.tic.ac.uk/micromouse/</a>

    </p>

    <p>It''s a great event, worth the trip. I''m hoping to encourage the biggest turnout
    of minisumo, there''s quite a number out there!

    </p>

    <p>best regards,

    <br/>Colin

    </p>

    <p>--

    <br/><a href="http://www.minisumo.org.uk">www.minisumo.org.uk</a>

    </p>

    '
  date: Sun 14 of Mar., 2010 21:48 GMT
- author: slurp
  content: '

    <p>This turned out to be as good as expected, I''ve a list of tweaks to AFM for
    the next event &#x1F609;

    </p>

    <p>A few things to share....

    </p>

    <p>A video of the minisumo event:- <a href="http://www.vimeo.com/13346911">http://www.vimeo.com/13346911</a>

    </p>

    <p>and a written commentary :-

    </p>

    <p><a href="http://www.minisumo.org.uk/wiki/index.php?page=UKMM2010">http://www.minisumo.org.uk/wiki/index.php?page=UKMM2010</a>

    </p>

    <p>Best regards,

    <br/>Colin

    </p>

    <p>

    <br/>--

    <br/><a href="http://www.minisumo.org.uk">www.minisumo.org.uk</a>

    </p>

    '
  date: Fri 16 of July, 2010 21:25 BST
- author: orion
  content: "\n\tI seem to remember mention of London events (Holloway Road perhaps)?\
    \  Do you know of any?\n\n\t\n"
  date: M19 of Apr., 2010 21:59 BST
- author: orion
  content: '

    <p>&gt; UK MICROMOUSE 2010

    <br/>&gt; Saturday June 26th

    <br/>&gt; Millennium Point

    <br/>&gt; Birmingham B4 7XG.

    <br/>&gt;

    <br/>&gt; <a href="http://www.tic.ac.uk/micromouse/">http://www.tic.ac.uk/micromouse/</a>

    <br/>&gt;

    <br/>&gt; It''s a great event, worth the trip. I''m hoping to encourage the biggest
    turnout of minisumo, there''s quite a number out there!

    <br/>&gt;

    <br/>&gt; best regards,

    <br/>&gt; Colin

    <br/>&gt;

    <br/>&gt; --

    <br/>&gt; <a href="http://www.minisumo.org.uk">www.minisumo.org.uk</a>

    <br/>It was good the year I managed to get to one. I just went a bit spam busting
    as I realise this thread had been spammed - its clean now...

    </p>

    '
  date: Thu 15 of Apr., 2010 00:11 BST
- author: slurp
  content: '

    <p>I forgot to add you can find more info on this minisumo on this <a class="wiki
    external" href="http://www.minisumo.org.uk/forum/viewtopic.php?f=6&amp;t=482"
    rel="external">forum post</a> and <a class="wiki external" href="http://www.minisumo.org.uk/wiki/index.php?page=AnotherFormulaMiniSumo"
    rel="external">wiki page</a>, the write up isn''t complete but it''s getting there.

    </p>

    <p>The aim of <a class="wiki external" href="http://www.minisumo.org.uk/wiki/index.php?page=FormulaMiniSumo"
    rel="external">formula minisumo</a> is budget entry into the competition... while
    not precluding competition with non-formula minisumo it leads to an opportunity
    to compete on a more level field like "Formula Ford" in motor racing. In this
    case it''s fixed motor/gearbox, motor driver and battery voltage.

    </p>

    <p>regards,

    <br/>Colin

    </p>

    '
  date: Sun 04 of Apr., 2010 13:42 BST
- author: slurp
  content: '
    <p>Never mind $250, there''s about £330 of part to built this minisumo:-
    </p><div style="float:left; margin-right:5px; width:502px;">
      <img alt="Another Formula Minisumo" class="img-responsive" height="492" 
        src="http://www.minisumo.org.uk/images/AFM-01.jpg" title="Another Formula Minisumo" width="500"/> 
        <div class="mini" style="width:500px;"> 
          <div class="thumbcaption">Another Formula Minisumo</div>
        </div>
      </div>
      <p>
        <br/>I''ve been doing some tweaks to get the weight up and
     competitive for Birmingham on the 26th
  </p>
    <div style="float:left; margin-right:5px; width:402px;">
      <img alt="chassis" class="img-responsive" height="374" src="http://www.minisumo.org.uk/images/AFM-03.jpg" title="" width="400"/> 
      <div class="mini" style="width:400px;"> 
        <div class="thumbcaption">chassis mods</div> 
      </div> 
    </div>
    <p>
      <br/>regards,
      <br/>Colin
    </p>
    '
  date: Sun 04 of Apr., 2010 11:04 BST
thread:
  author: slurp
  href: tiki-view_forum_thread.php?comments_parentId=390&topics_offset=2
  last_post_date: "Fri 16 of July, 2010 21:25 BST \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nRe: UK MICROMOUSE 2010 by slurp"
  name: UK MICROMOUSE 2010
  posts: 5
  reads: 14268
  slug: uk_micromouse_2010
  subcomment: Birmingham City University have announced that they are pleased to host
    UK Micromouse 2010 - their 7th consecutive year
title: Open Discussion | UK MICROMOUSE 2010
topic:
  href: tiki-view_forum.php?forumId=5
  last_post_date: Fri 06 of July, 2012 13:42 BST
  last_post_info: 'Re: Variable Surface Curvature Lego System? by orion'
  name: Open Discussion
  post_count: 110
  slug: open_discussion
  subcomment: Anything else - but try to keep it robot related! If you want to send
    a message to the operator of the site, please use the Contact Us Page on the menu
    to the right.
  thread_count: 39
  visits: 201065
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
