---
layout: default
permalink: /forums/open_discussion/uk_micromouse_2009/index.html
posts:
- author: slurp
  content: '

    <p>Just spotted the (provisional) details for the next UK Micromouse event, I
    think it''s a fabulous venue and a great day for meeting old friends, making new
    friends and swapping robot ideas.

    </p>

    <p>Hosted by Birmingham City University at Millennium Point, Birmingham.

    <br/>Saturday 27th June 2009 (provisional) 10.00am - 5.00pm

    </p>

    <p>A full schedule of events, and confirmation of date, will be posted shortly.

    <br/>Events: Maze Solving, Wall Following, Sumo, Time Trials, Drag Race for Senior,
    Junior and Schools.

    <br/>Accompanying demonstrations/competitions: Bipeds

    <br/><a class="wiki external" href="http://www.tic.ac.uk/micromouse/UKMM2009/ukmm2009.asp"
    rel="external">http://www.tic.ac.uk/micromouse/UKMM2009/ukmm2009.asp</a>

    </p>

    '
  date: Sun 25 of Jan., 2009 13:46 GMT
- author: orion
  content: "\n\tThank you for that. It is shame that I will not be able to make June\
    \ this year - it is going to be an interesting time for us (a new arrival is expected\
    \ for us around that time). However, if anyone would like any photos hosted on\
    \ OrionRobots for this event, they need only ask.\n\n\t\n"
  date: Wed 28 of Jan., 2009 09:34 GMT
thread:
  author: slurp
  href: tiki-view_forum_thread.php?comments_parentId=357&topics_offset=5
  last_post_date: "Wed 28 of Jan., 2009 09:34 GMT \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nRe: UK MICROMOUSE 2009 by orion"
  name: UK MICROMOUSE 2009
  posts: 1
  reads: 27268
  slug: uk_micromouse_2009
  subcomment: Another year, another fab event?!?
title: Open Discussion | UK MICROMOUSE 2009
topic:
  href: tiki-view_forum.php?forumId=5
  last_post_date: Fri 06 of July, 2012 13:42 BST
  last_post_info: 'Re: Variable Surface Curvature Lego System? by orion'
  name: Open Discussion
  post_count: 110
  slug: open_discussion
  subcomment: Anything else - but try to keep it robot related! If you want to send
    a message to the operator of the site, please use the Contact Us Page on the menu
    to the right.
  thread_count: 39
  visits: 201065
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
