---
layout: default
permalink: /forums/open_discussion/uk_robot_competition/index.html
posts:
- author: paulfo
  content: "\n<p>Hi all,\n</p>\n<p>I'd like to tell you about a UK competition running\
    \ from   <a class=\"wiki external\" href=\"http://iloverobots.wotudo.net\" rel=\"\
    external\">http://iloverobots.wotudo.net</a> - sponsored by Microsoft UK with\
    \ two prizes of \xC2\xA3500 or \xC2\xA3250\n<br/>There are two categories: Robot\
    \ Idol and Robot Blueprint open to residents of the UK.\n</p>\n<p>As its name\
    \ suggests Robot Idol is all about showing off your robot. Upload a picture, highlight\
    \ the unique capabilities and submit your entry. The robots are voted on by the\
    \ public - so get your friends and family to vote for yours!\n</p>\n<p>In Robot\
    \ Blueprint you can submit your robot design - you know the one you could make\
    \ if only... These designs will be judged by a panel of experts, who will be looking\
    \ for the most ingenius designs.\n</p>\n<p>Both competition prizes are in the\
    \ form of credit to be spent at named online UK robot retailers. The Robot Idol\
    \ prize is \xC2\xA3500 and the Robot Blueprint is \xC2\xA3250.\n</p>\n<p>Skip\
    \ over to <a class=\"wiki external\" href=\"http://iloverobots.wotudo.net\" rel=\"\
    external\">http://iloverobots.wotudo.net</a> to find out more. And get your entries\
    \ in quick - competition ends 31st Jan 2008\n</p>\n"
  date: Tue 11 of Dec, 2007 15:28 GMT
thread:
  author: paulfo
  href: tiki-view_forum_thread.php?comments_parentId=327&topics_offset=10
  last_post_date: Tue 11 of Dec, 2007 15:28 GMT
  name: UK Robot Competition
  posts: 0
  reads: 35081
  slug: uk_robot_competition
  subcomment: "Robot Idol and Robot Blueprint open to UK residents \xC2\xA3500 or\
    \ \xC2\xA3250 prizes to be spent at UK robot online stores."
title: Open Discussion | UK Robot Competition
topic:
  href: tiki-view_forum.php?forumId=5
  last_post_date: Fri 06 of July, 2012 13:42 BST
  last_post_info: 'Re: Variable Surface Curvature Lego System? by orion'
  name: Open Discussion
  post_count: 110
  slug: open_discussion
  subcomment: Anything else - but try to keep it robot related! If you want to send
    a message to the operator of the site, please use the Contact Us Page on the menu
    to the right.
  thread_count: 39
  visits: 201065
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
