---
layout: default
permalink: /forums/lego_discussion/are_there_any_chance_of_video_clips_of_jamocklat_in_action/index.html
posts:
- author: orion
  content: "\n\tMail in thread follows:\n\n\t\n"
  date: M14 of Mar., 2005 00:15 GMT
- author: orion
  content: '

    <p>That big blue mecha you created is wonderful - a true masterpiece of a

    <br/>Lego creation. I am sure I am not alone in asking if there are going to be

    <br/>some video clips of it in action. For those of us unable to make it to

    <br/>brickfest - seeing it do some of the stuff it looks capable of would be

    <br/>great.

    </p>

    <p>Cheers,

    <br/>Danny

    <br/>--

    <br/><a href="http://orionrobots.co.uk">http://orionrobots.co.uk</a> - Learn to
    build robots

    </p>

    <p>

    <br/>

    <br/>

    </p>

    '
  date: M14 of Mar., 2005 00:15 GMT
thread:
  author: orion
  href: tiki-view_forum_thread.php?comments_parentId=70&topics_offset=15
  last_post_date: "Mon 14 of Mar., 2005 00:15 GMT \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \n by"
  name: Are there any chance of video clips of Jamocklat in action?
  posts: 1
  reads: 15999
  slug: are_there_any_chance_of_video_clips_of_jamocklat_in_action
  subcomment: ''
title: Lego Discussion | Are there any chance of video clips of Jamocklat in action?
topic:
  href: tiki-view_forum.php?forumId=8
  last_post_date: Sat 13 of Sep., 2008 15:21 BST
  last_post_info: 'Re: Re: Mindstorms Stormrunner Game by orion'
  name: Lego Discussion
  post_count: 65
  slug: lego_discussion
  subcomment: Topics to do with using Lego to build robots, and robotic based contraptions
  thread_count: 19
  visits: 88452
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use our Facebook, Twitter or Youtube channels to ask questions.</div>
