---
layout: default
permalink: /forums/lego_discussion/balls_for_building_gbc_modules/index.html
posts:
- author: Anonymous
  content: "\n\tMail in thread - discussing availability of balls for building Great\
    \ Ball Contraption modules.\n\n\t\n"
  date: Tue 15 of Feb., 2005 21:27 GMT
- author: orion
  content: '

    <p>Well according to one fellow on <a href="Lugnet" title="Lego
    Users Group Network">Lugnet</a> - a Pick A Brick (PaB) store in Oberhausen, Germany
    has the balls at 0.50 Euros each. This is not really great if you are looking to buy
    a whole cart-load though.

    </p>

    <p>I would still recommend <a href="Bricklink" title="Lego
    Trading Commnity">bricklink</a>. Maybe if enough people get together they could
    email <a href="Lego" title="The best known construction
    toy">Lego</a> and get them to sell bulk ball packs. Remember that the Basket Balls
    are the same dimensions as the footballs, and having a good mix of them means
    that you will have a more interesting looking machine.

    </p>

    <p>This also leaves the potential of being able to use a light-sensor to try and
    separate them.

    </p>

    '
  date: Sun 13 of Mar., 2005 12:49 GMT
- author: Anonymous
  content: '

    <p>In lugnet.robotics, Brian Davis wrote:

    </p>

    <p>&gt; There is, I''ve heard tell, some PaB (not in the States, but UK IMS) that

    <br/>had

    <br/>&gt; soccer balls for bulk sale. I know you can get a lot of soccer balls
    in a

    <br/>&gt;PaB cup (a small cup here in the States holds about 180 - I don''t have

    <br/>enough

    <br/>&gt;(yet!) to tell how many a large PaB cup holds, but it looks to be around

    <br/>300).

    </p>

    <p>Does anyone in the UK know if any of them have the balls? Do Hamleys still

    <br/>have a PaB section? This requires a bit of investigation..

    </p>

    <p>I have just ordered a bunch from bricklink - but I get the feeling it is

    <br/>not going to be enough.

    </p>

    <p>Cheers

    <br/>Orion

    <br/>--

    <br/><a href="http://orionrobots.co.uk">http://orionrobots.co.uk</a> - Robots
    from Sol to Sirius.

    </p>

    <p>

    </p>

    '
  date: Tue 15 of Feb., 2005 21:27 GMT
thread:
  author: Anonymous
  href: tiki-view_forum_thread.php?comments_parentId=42&topics_offset=16
  last_post_date: "Sun 13 of Mar., 2005 12:49 GMT \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nRe: The Great Ball Contraption V3 by orion"
  name: Balls For Building GBC Modules
  posts: 2
  reads: 16796
  slug: balls_for_building_gbc_modules
  subcomment: ''
title: Lego Discussion | Balls For Building GBC Modules
topic:
  href: tiki-view_forum.php?forumId=8
  last_post_date: Sat 13 of Sep., 2008 15:21 BST
  last_post_info: 'Re: Re: Mindstorms Stormrunner Game by orion'
  name: Lego Discussion
  post_count: 65
  slug: lego_discussion
  subcomment: Topics to do with using Lego to build robots, and robotic based contraptions
  thread_count: 19
  visits: 88452
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use our Facebook, Twitter or Youtube channels to ask questions.</div>
