---
layout: default
permalink: /forums/lego_discussion/lego_ris_2_0/index.html
posts:
- author: Anonymous
  content: "\n\tWhich of the two languages that is LegOS and LeJOS is better for programming\
    \ the RIS 2.0 (Robotic Invention System), which one offers more functionalities\
    \ and ease of programming ?\n\n\t\n"
  date: Tue 19 of Apr., 2005 22:07 BST
thread:
  author: Anonymous
  href: tiki-view_forum_thread.php?comments_parentId=110&topics_offset=11
  last_post_date: Tue 19 of Apr., 2005 22:07 BST
  name: Lego RIS 2.0
  posts: 0
  reads: 19279
  slug: lego_ris_2_0
  subcomment: ''
title: Lego Discussion | Lego RIS 2.0
topic:
  href: tiki-view_forum.php?forumId=8
  last_post_date: Sat 13 of Sep., 2008 15:21 BST
  last_post_info: 'Re: Re: Mindstorms Stormrunner Game by orion'
  name: Lego Discussion
  post_count: 65
  slug: lego_discussion
  subcomment: Topics to do with using Lego to build robots, and robotic based contraptions
  thread_count: 19
  visits: 88452
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
