---
layout: default
permalink: /forums/lego_discussion/mindstorms_stormrunner_game/index.html
posts:
- author: orion
  content: |
    <p>Has anybody here actually played through the Lego Mindstorms game "StormRunner"?

    </p>

    <p>It is an interesting and amusing game, which teaches and strengthens the use
    of programming to get a robot to achieve things. Anyway - I have been playing
    it for a while and have a few questions for any other players.

    </p>

    <p>For a start - I need to let Lego know that the Satellite link (which you get
    when you search the CESS Galapogos) does not work.

    </p>

    <p>Secondly- once you have found other RCXs which dont seem to work, you can click
    on them, and it says they cannot initialise. Is there any way you can equip them
    and take command of them? I tried to use the piledriver to shift them - and it
    does not do anything.

    </p>

    <p>Does anyone actually know what the piledriver is for? I have not managed to
    successfully use it for anything.

    </p>

    <p>If this game was brushed up, made into a full desktop game, I would probably
    buy it.

    </p>

    <p>A couple of ideas for a further version of the game:

    </p>

    <ul><li> A minimap - god knows how much that would help

    </li><li> To have the full Lego RCX code system at your command - while including the primitives
    for controlling the buggies and their extensions kind of built in.

    </li><li> Maybe for the game to be a bit bigger - like a bit of base building
    to allow research into more buggy extensions, and production of buggies - so you
    could expand the sensors and add weapons or otherwise.

    </li><li> A 3D System allowing for different camera angles.

    </li></ul><p>

    <br/>Again - if a game based on this started off with a scenario not unlike stormrunner,
    then developed into a full on Real Time Strategy (RTS) game based on RCX programming - it would
    be a seriously nice game - and I would not be alone in paying good money to buy
    it and play it. The best thing is - the current stormrunner game could be used
    as an intro and promotion for it.

    </p>
  date: M25 of Apr., 2005 15:03 BST
- author: orion
  content: |
    <p>&gt; Hey, is there anywhere that we can still play this game? I miss it...
      &#x1F600;

    <br/>Not sure - we probably should petition Lego, and <a class="wiki external"
    href="http://www.templar.com/info/games_stormrunner.html" rel="external">Templar
    Studios</a> (the studio who produced the game) to do another one.
    </p>

    <p>I would love to see a more seriously featured desktop game - I have been entertaining
    the idea of creating a game similar to this that develops into an RTS with programmable/customizable
    units, which of course have a development time and cost.
    </p>
  date: Sat 13 of Sep., 2008 15:21 BST
- author: Jake11611
  content: "\n\tHey, is there anywhere that we can still play this game? I miss it...\
    \ &#x1F600;\n"
  date: Sat 13 of Sep., 2008 01:35 BST
- author: dsc45
  content: |
    <p>well iv played the game and beat it and now just having fun with it such as
    a army of rcx's and I bet I could try to make my own version of the new game
    but im not good with graphics and would probably do some ripping from the game
    but I wouldnt be able to do a good nxt but I will try but would like your submissions
    at (email address removed). also I am also
    a fan of base building games so that I could do easily but I might face a loading
    problem also the base building would problem be done as a upgrade interface.

    </p>

    <p>also has any body have a program for auto searching for the rcx for energy
    and metal? also if you have what all sensors are you using?

    </p>
  date: M12 of May, 2008 05:21 BST
- author: orion
  content: |
    <p>&gt; I wonder why Stormrunner never got exceedingly popular. It shoulda.</p>
    <p>Well maybe it should have with the robotics community, but it was pretty niche.
    I suppose programming robots is not everyone's idea of a game. Plus there were
    a few major flaws in the programming system, and maybe bringing a relatively complete
    desktop version, with a more full bodied programming system would help.

    </p>

    <p>If it used NXT code, and had an constructopedia to build models that would
    work with the code, then the finished programs (using a light sensor instead of
    heat and other similar substitutions) could be downloaded to a real NXT. Maybe,
    a stormrunner [/NXT] extension pack, with a real heat sensor, the game software,
    and some additional Lego parts, in the mould of the Mars Exploration addon pack
    for the [/RCX], would be a really cool idea.</p>

    <p>This would give them the opportunity to do spybotics style missions, have some
    nice video sequences, still have the strategy/exploration game internally (maybe
    linking up with some real world set ups) and also have some nice ideas for models
    - like ones that can roam, and pickup cans or other such items, stashing them
    into a hold.</p>

    <p>Danny</p>
  date: Tue 01 of Aug., 2006 12:05 BST
- author: orion
  content: |
    <p>&gt; It would be really great if Lego create Stormrunner continouation.

    <br/>&gt; For example it could be Stormrunner 2 where story is the satellite signal
    from satellite that was gathered from CESS Galapagos, was heared on Earth and Earth
    has send an rescue team to find what happened to the June Castle, Clark Winter
    and rest of the crews.

    <br/>&gt; What do you think?</p>

    <p>I think that would be a great idea, especially if the new game used the NXT
    (and promoted it), with its sonar unit and bluetooth to achieve some things the
    RCX couldnt. Maybe having the NXT and the RCX could allow for comparison, where you
    get the RCX early on, but get an NXT a little later in the game. Of course, to
    do this, the programming system may have to resemble robolab instead of RCX code,
    but that is not necessarily a bad thing.</p>

    <p>Again- if it was a desktop game, I would buy it.</p>

    <p>Danny</p>
  date: Sun 30 of July, 2006 09:28 BST
- author: kaktus9
  content: |
    <p>It would be really great if Lego create Stormrunner continuation.

    <br/>For example it could be Stormrunner 2 where story is the satellite signal
    from satellite that was gathered from CESS Galapagos, was heard on Earth and Earth
    has send an rescue team to find what happened to the June Castle, Clark Winter
    and rest of the crews.

    <br/>What do you think?</p>
  date: Sat 29 of July, 2006 14:54 BST
- author: Neoskel
  content: "\n\tI wonder why Stormrunner never got exceedingly popular. It shoulda.\n\
    \n\t\n"
  date: Fri 09 of Dec, 2005 12:26 GMT
- author: Neoskel
  content: "\n\tThere should definitely be a sequel for Stormrunner. It would be great\
    \ if the second game would be about those sent to rescue the people stranded on\
    \ that (bloody) planet. Maybe a new hovercraft chassis, fights with the crab thingys\
    \ and meeting up with your old character, June Castle, Clark Winter and the rest\
    \ of the survivors/colonists. And finding the crash site of the Stormrunner itself.\
    \ It would rock if they had a minimap and perhaps several missions on a largish\
    \ scale campaign instead of one rather unguided free form romp. RCXs will be central\
    \ of course. I know everyone is adamant about 3d graphics, but i think 2d is more\
    \ fun. Just look at Starcraft. And a little base building would be pretty fun\
    \ too. If there is fighting, all the RCXs would need something like armour ratings\
    \ too and a repair feature would be necessary. And definitely a way to toast/hack/smash/etc.\
    \ those darn evil onions (the things that eat RCXs) and several cutscenes with\
    \ actual people talking.\n\n\t\n"
  date: Fri 09 of Dec, 2005 12:13 GMT
- author: Anonymous
  content: |
    <p>To get to the energy sensor:</p>

    <p>Applied method: distraction</p>

    <p>Build a Hermes and an Achilles-class, equip the Hermes(I did it with the Achilles,
    but the Hermes is faster..., both work) with a grabber-arm. Nothing more.</p>

    <p>Get both in the Tormod. Then position the Achilles so that it will drive from
    the right to the left underneath the eater so it gets eaten. "BUT WAIT" first
    you must position the Hermes in the top left corner facing down so all you have
    to do is make it move forward one square, turn right, pick the thing up(don't
    store), turn right again, move into the safe zone.</p>

    <p>First you activate the Achilles, the moment the plant moves to eat it you activate
    the Hermes. Now you should have The Energy sensor.</p>

    <p>Here are its stats:</p>

    <p>P:3
    <br/>E:2
    <br/>L:2
    <br/>weight:0.05
    </p>

    <p>Have fun.</p>
  date: Sun 17 of July, 2005 12:44 BST
- author: Anonymous
  content: "\n\tYou know, I have looked all over for one and haven't found one. Just\
    \ for that, I think I'll do a basic walkthrough. Give me a while though.\n\n\t\
    \n"
  date: Sun 03 of July, 2005 22:09 BST
- author: Anonymous
  content: "\n\ti am new to the game what do you have to do practically a walkthrough.\n\
    \n\t\n"
  date: Sun 03 of July, 2005 17:28 BST
- author: Anonymous
  content: |
    <p>&gt; orion:

    <br/>&gt; I have not had that trouble with the black squares on the datalogs.
    Although trying to play this week has left it loading only in the "Unsupported
    Browser" mode even on IE. Which is a pain - because I cannot access my save games.

    <br/>&gt;

    <br/>&gt; I did actually post to Lugnet''s dear Lego section about this - but
    have not heard anything back.

    <br/>&gt;

    <br/>&gt; So far my best way around the plants is to drive past them without stopping
    so they dont get a chance to eat you. I cant see any other way. piledriving them
    does not injure them - and be really careful even manoeuvring in their path. To
    get an item at a distance from a plant, you may need to build a sacrificial RCX
    - once they have eaten, they take a while to eat again - this might gain you the
    temperature sensor - although I have not found it yet myself.

    <br/>&gt;

    <br/>&gt; You would have to program up both RCX''s and get them started on the
    path fairly close to one another. Make sure the program gets each one in, gets
    the item and gets out. There is a danger however that the plant takes the wrong
    bait, and gets the RCX with the sensor after it is grabbed- that would be a disaster.

    <br/>&gt;

    <br/>&gt; I am going to have to find the heat sensor - once I can get the save
    games working again.

    </p>

    <p>Go about 5 squares West and straight South and you'll find the Tormod. It's
    in there. You have to have a security level of 2 to get in...Clark leaves a copy
    of it in his first datalog.

    </p>
  date: Thu 23 of June, 2005 15:58 BST
- author: Anonymous
  content: |
    <p>"Thanks for that Anon- but I mean the little web-page link that loads when
    you click the satellite in the Galapogos to try and store it in the launcher.
    I get the horrible feeling that Lego have stopped maintaining the game for sometime
    - and it is falling apart. Sad really - a very promising game. Maybe a posting
    for Lugnets "Dear Lego" is in order..."</p>

    <p>I didn't notice there even was one. It's been a while since I did that. What
    I did notice was that all of the little piles of rocks that have a datalog on
    them are black squares until you remove the datalog. It might be Firefox, but
    I doubt it. I tried to load it in IE, but my Microsoft VM became corrupted or
    something.</p>

    <p>On a side note, what ARE those piles? I think they''re little house things..who
    knows. Is there a way to find out about what happened to the other crews, and
    is there any way to get around those stupid plants that eat the RCX''s?

    </p>

    '
  date: Tue 21 of June, 2005 22:30 BST
- author: Anonymous
  content: "\n\tAlso, have you gotten the Heat Sensor? I haven't found a way to get\
    \ it. I can walk on the wall to get above the plant, but can't position myself\
    \ next to the sensor.\n\n\t\n"
  date: Tue 21 of June, 2005 22:30 BST
- author: orion
  content: '

    <p>&gt; Anonymous:

    <br/>&gt; "For a start - I need to let Lego know that the Satellite link (which
    you get when you search the CESS Galapogos) does not work."

    <br/>&gt;

    <br/>&gt; You must go to the top left corner of the map with an RCX on the Arachne
    chassis with the launcher installed. "Store" the satellite in the launcher and
    stand in the middle of the weird orange thing. Run the "launch" code. There ya
    go.

    </p>

    <p>Thanks for that Anon- but I mean the little web-page link that loads when you
    click the satellite in the Galapogos to try and store it in the launcher. I get
    the horrible feeling that Lego have stopped maintaining the game for sometime
    - and it is falling apart. Sad really - a very promising game. Maybe a posting
    for Lugnets "Dear Lego" is in order...

    </p>

    <p>&gt;

    <br/>&gt; "Secondly- once you have found other RCXs which dont seem to work, you
    can click on them, and it says they cannot initialise. Is there any way you can
    equip them and take command of them? I tried to use the piledriver to shift them
    - and it does not do anything."

    <br/>&gt;

    <br/>&gt; One RCX is lower on the map and you myst come up behind it, stop, then
    run a "forward" code to push it out of the mud. Another is stuck in some rocks
    on the center right of the map. You need to use the piledriver on it three times
    to break it free.

    </p>

    <p>Thanks - spent a while trying to pile-drive the one in the mud - with no results.

    </p>

    <p>&gt;

    <br/>&gt; "Does anyone actually know what the piledriver is for? I have not managed
    to successfully use it for anything."

    <br/>&gt;

    <br/>&gt; The piledriver is used twice; once to break down the door to the CESS
    Decatur and another to free the RCX with the Arachne chassis.

    </p>

    <p>Thanks again - very chuffed.

    </p>

    '
  date: Fri 17 of June, 2005 22:37 BST
- author: Anonymous
  content: '

    <p>"For a start - I need to let Lego know that the Satellite link (which you get
    when you search the CESS Galapogos) does not work."

    </p>

    <p>You must go to the top left corner of the map with an RCX on the Arachne chassis
    with the launcher installed. "Store" the satellite in the launcher and stand in
    the middle of the weird orange thing. Run the "launch" code. There ya go.

    </p>

    <p>"Secondly- once you have found other RCXs which dont seem to work, you can
    click on them, and it says they cannot initialise. Is there any way you can equip
    them and take command of them? I tried to use the piledriver to shift them - and
    it does not do anything."

    </p>

    <p>One RCX is lower on the map and you must come up behind it, stop, then run
    a "forward" code to push it out of the mud. Another is stuck in some rocks on
    the center right of the map. You need to use the piledriver on it three times
    to break it free.

    </p>

    <p>"Does anyone actually know what the piledriver is for? I have not managed to
    successfully use it for anything."

    </p>

    <p>The piledriver is used twice; once to break down the door to the CESS Decatur
    and another to free the RCX with the Arachne chassis.

    </p>

    '
  date: Fri 17 of June, 2005 22:12 BST
thread:
  author: orion
  href: tiki-view_forum_thread.php?comments_parentId=113
  last_post_date: "Sat 13 of Sep., 2008 15:21 BST \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nRe: Re: Mindstorms Stormrunner Game by orion"
  name: Mindstorms Stormrunner Game
  posts: 18
  reads: 121544
  slug: mindstorms_stormrunner_game
  subcomment: ''
title: Lego Discussion | Mindstorms Stormrunner Game
topic:
  href: tiki-view_forum.php?forumId=8
  last_post_date: Sat 13 of Sep., 2008 15:21 BST
  last_post_info: 'Re: Re: Mindstorms Stormrunner Game by orion'
  name: Lego Discussion
  post_count: 65
  slug: lego_discussion
  subcomment: Topics to do with using Lego to build robots, and robotic based contraptions
  thread_count: 19
  visits: 88452
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
