---
layout: default
permalink: /forums/lego_discussion/rcx3_can_extra_hardware_functionality_be_added/index.html
posts:
- author: Anonymous
  content: "\n\tThe <a  href=\"/wiki/lego_rcx.html\" title=\"The Lego\
    \ RCX\">Lego RCX</a> is about to undergo a third incarnation. We are probably\
    \ too late to influence the RCX3, but these comments were submitted on it - although\
    \ maybe they should be taken as ideas for the RCX4.\n\n\t\n"
  date: Wed 09 of Feb., 2005 08:16 GMT
- author: Anonymous
  content: '

    <p>Wow- that is exactly the kind of thing I was thinking. Maybe the <a href="/wiki/pwm.html" title="Pulse Width Modulation">PWM</a> could be disengaged,
    allowing for <a href="/wiki/servo.html" title="Servo Motor">servo''s</a>,
    or wired <a href="/wiki/serial_data_stream.html" title="Serial Data
    Stream">serial</a> - so 2 or more could link, or a <a href="/wiki/ssc.html"
    title="Serial Servo Controller">Serial Servo Controller</a> used. I have always
    been an advocate of modularity and expandability. Having to buy the whole system
    again for an upgrade was never the best way. This could mean you could upgrade
    certain parts, while not needing to change the whole thing. For <a href="/wiki/lego.html" title="The best known construction toy">Lego</a> - it would
    give them a much vaster follow up market as they sell an initial pod set-up, and
    release others in a kind of serialisation later.
    </p>

    <p>I have also been thinking of a more advanced 2x1x2(plate) cable connector.
    It would still be backwards compatible with the 2x2x2 connectors by having a metal
    top, and base. On one long side it would have the cable, and the other a single
    sprung retractable plug and socket. This allows for the plug to be out of the
    way for normal use- and the connectors may be stacked or plugged in - making them
    more space economic and adaptable. The only thing is that you would lose the ability
    to stack at right angles(you would have to route the cable). The additional density
    would allow more changes in the <a href="/wiki/lego_rcx.html" title="The
    Lego RCX">RCX</a> form factor- especially if the cables are mounted with the socket
    instead of studs.

    </p>

    <p>I wonder if <a href="/wiki/i2c.html" title="Inter Integrated Circuit
    bus">I2C</a> could be considered. Being able to have such a capable/extendible
    controller that is easily mounted, and satisfies the purists would be a huge leap.

    </p>

    <p>Danny

    </p>

    <p><strike>---Original Message</strike>---

    </p>

    <div class="simplebox">

    <p>From: "Mr S"

    <br/>Sent: 22/01/05 23:52:49

    <br/>To: "lugnet.robotics@lugnet.com"

    <br/>Subject: Re: RCX3 - Can extra hardware functionality be added?

    </p>

    <p>I''ve seen this topic come up several times, and am curious why no one suggests
    that the input and output ports be extended from the <a
    href="/wiki/lego_rcx.html" title="The Lego RCX">RCX</a> to pods. Using the same form factor
    constraints limits the possibilities.

    </p>

    <p>Using a more condensed cable connection between the <a
    href="/wiki/lego_rcx.html" title="The Lego RCX">RCX</a> and the pods allows for more connectors,
    and the pods would use the standard 2x2 arrangement. Additionally, if the output
    pod also contained the motor controls (imagine something 1/3 the size of the <a
    href="/wiki/lego_rcx.html" title="The Lego RCX">RCX</a>) it could
    not only have the low density 2x2 connectors, it could make additional room in
    the <a href="/wiki/lego_rcx.html" title="The Lego RCX">RCX</a> for
    more circuitry. There could be several output pod options, allowing for the standard
    3 ports, all the way up to 12 ports using multiple pods.

    </p>

    <p>Adding the external power connector is an option that seems unanimously agreed
    on, and moving the batteries to an external pod that uses that connector would
    also open up space for more processing power. (read additional <a href="/wiki/ram.html" title="Random Access Memory">RAM</a>, program storage space
    etc.) Being able to locate the batteries in a space more suited to balance of
    the creation is a huge advantage.

    </p>

    <p>The h-bridge functions being in the output pod would allow
    for many upgrade option kits ( I''m hoping this sort of thinking makes this option
    or one like it seem like something that would improve the bottom line to the <a
    href="/wiki/lego.html" title="The best known construction toy">LEGO</a>
    folks) I can see some of the LEGO inventions I''ve seen greatly benefiting
    from the ability to extend the output ports (via the pod) to a place more local
    to where the motors are being used. These style of changes would make room for
    upgrades to the motor control options, input options, and power options while
    remaining steady with plug-n-play utility and backward compatibility.

    </p>

    <p>I can imagine 6 motor outputs on one pod, and possibly 2 pods per RCX3. Imagine
    an input pre-processor pod that has <a href="/wiki/odometry.html"
    title="Measurement of distance through step/rev counting">odometry</a> functions
    built-in, and a processor to linearize the readings from certain sensors so that
    the user sees improved intelligibility on sensor readings and/or increased range?

    </p>

    <p>This type of ''change'' makes sense to me. To improve the capabilities of the
    current RCX
    by removing the physical limitations that the current form factor puts on the processor
    inside. This is what transformed the original home computers like the Atari and
    C64 into the huge processing machines that we have in tower style pc''s... we
    moved the input and outputs away from the processor to give it more room.

    </p>

    <p>I can even see a flash card slot on the RCX in the future, and other such enhancements that make
    it not only competitive with systems like the basic stamp, but more capable, and
    still equipped with the most amazing building system I''ve ever had the pleasure
    to play with &#x1F642;.

    </p>

    <p>I''d personally like to see a LEGO <a href="Servo" title="Servo
    Motor">servo motor</a> option along with suitable LEGO servo motors, and perhaps built-in DCC functionality
    in the output pod so we could connect many motors to one output if they are not
    all to be used at once.

    </p>

    <p>Well, that is what I would put down good money for.

    </p>

    <p>Cheers

    </p>

    </div>

    <p>

    </p>

    <div class="simplebox">

    <p>Mark Bellis  wrote:

    </p>

    <p>Having had a good look inside my RCX, I''m thinking seriously about what is
    really possible in the same space envelope, whether extra ports or functions could
    be added for RCX3.

    </p>

    <p>I think it''s useful for us to know what''s inside the RCX, especially if we want to have any
    input into what''s inside the next evolution of it, which is one reason why I''ve
    been looking into the circuits. Perhaps our ideas  are more likely to be taken
    seriously if we understand the constraints of the space envelope and available
    electrical and processing power.

    </p>

    <p>Much of the circuit board is quite densely packed with components on both sides,
    and the board already has 3 track layers, so the only way to fit more ports in
    (with the necessary components) would be to hybridise parts of the circuit. (Hybridisation
    is where all the components without their cases (just the silicon bits) are put
    together inside one package, miniaturising the circuit. The resulting hybrid might
    be a package looking a bit like the processor).

    </p>

    <p>I don''t think the motor port circuit could be miniaturised, as the motor controllers
    are already 90% of the motor port circuit and the diodes need to be rated for
    more power, so they should stay as discrete components.

    </p>

    <p>The power supply circuit, likewise, needs to be rated for power.  The capacitors
    are some of the largest components.  Does anyone know if some of them (6x300uF)
    been removed in the RCX2?  Certainly we want the original mains input port to
    be put back for RCX3, though this would require the same space as the RCX1 power
    circuit.

    </p>

    <p>The sensor ports could be hybridised.  Each sensor port requires 3 <a href="/wiki/transistor.html" title="Transistor">transistors</a>, 
      5 <a href="/wiki/resistor.html" title="Resistor">resistors</a> and 1 <a href="/wiki/diode.html" title="Diode">diode</a>, 
      plus the protection diodes and <a href="/wiki/capacitor.html" title="Capacitor">capacitor</a>, which would have to stay as
    discrete components for power reasons.  If the pull-up components were included
    then all three (or more) sensor port circuits could fit into one hybrid.  However,
    the sensor port circuits surround the port connection clips, so the hybrid would
    have to go elsewhere on the board.

    </p>

    <p>The processor, <a href="/wiki/rom.html" title="Read Only Memory">ROM</a>
    and Octal flip-flops (74HC377) could be made into a hybrid. This would not save
    much space, but it might be enough for a sensor port hybrid to fit on that side
    of the board.  The processor has eight <a href="/wiki/adc.html" title="Analog
    To Digital Converter">ADC</a> ports, of which three are used for sensors.  Others
    may be used for power supply or motor monitoring, but there may be another one
    free for a fourth sensor port.
    </p>

    <p>The display is a finite size and already has its controller chip and the sound
    device underneath it, so no space could be saved there.
    </p>

    <p>The <a href="/wiki/infra_red.html">IR</a> <a href="/wiki/led.html">LEDs</a> and receiver device need to be where they are, behind a window
    at one end of the unit.
    </p>

    <p>Summarising, there is the possibility that sensor ports or the main computer
    parts of the circuit could be shrunk into one <a href="/wiki/ic.html"
    title="Integrated Circuits">IC</a>, as long as the components are available in
    die form.  Therefore some space could be saved on the circuit board.
    </p>

    <p>Given that there is a custom IC inside the <a href="/wiki/rc.html" title="Remote
    Control">RC</a> Tower, the miniaturisation of circuits onto ICs is not impossible.  The question
    is more one of the cost feasibility for a production run of maybe 300,000 units.
    </p>

    <p>I think enough circuit board space could be saved for a BlueTooth IC to be placed in the space.  This
    would give the <a href="/wiki/lego_rcx.md" title="The Lego RCX">RCX</a>
    the freedom to wander out of sight and still communicate, which would greatly
    expand its roving possibilities, including a colony of RCX robots interacting.  I''d like to
    see a port for the camera to be plugged in, so that this too could take advantage
    of the <a href="/wiki/bluetooth.html" title="Bluetooth">Bluetooth</a>
    capability, making a remote spy robot!

    </p>

    <p>The port connection clips are within 8mm of the edge of the board, so four
    ports of each type across the case width is not possible with the current scheme.  The
    control center uses leads cut in half with wires to the circuit board, but the
    trend is away from this and towards the clips.  I don''t honestly think that any
    more ports could be implemented in the same box, unless an alternative connector
    scheme were used.

    </p>

    <p>Those of us with greater robotic ambitions, requiring more ports, probably
    have the skills to interface two or more RCXs into one robot.

    </p>

    <p>In conclusion, I think TLC did a really great job of fitting as much as they
    could into the box.  With the addition of Bluetooth and the restoration of the
    mains port, the RCX3 would have as much extra hardware functionality as possible,
    given the advance in technology since the RCX1 was produced.
    </p>

    <p>Perhaps, given the anticipated release date and the long programme to produce
    the next RCX, our time to suggest new functions has now passed, but at least we
    can understand the limits if not everything we want is implemented.</p>
    <p>PLMKWYT</p>
    <p>Mark</p>
    </p>

    '
  date: Wed 09 of Feb., 2005 08:16 GMT
thread:
  author: Anonymous
  href: tiki-view_forum_thread.php?comments_parentId=39&topics_offset=18
  last_post_date: "Wed 09 of Feb., 2005 08:16 GMT \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \n by"
  name: RCX3 - Can extra hardware functionality be added?
  posts: 1
  reads: 22989
  slug: rcx3_can_extra_hardware_functionality_be_added
  subcomment: ''
title: Lego Discussion | RCX3 - Can extra hardware functionality be added?
topic:
  href: tiki-view_forum.php?forumId=8
  last_post_date: Sat 13 of Sep., 2008 15:21 BST
  last_post_info: 'Re: Re: Mindstorms Stormrunner Game by orion'
  name: Lego Discussion
  post_count: 65
  slug: lego_discussion
  subcomment: Topics to do with using Lego to build robots, and robotic based contraptions
  thread_count: 19
  visits: 88452
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
