---
layout: default
permalink: /forums/lego_discussion/rcx_3/index.html
posts:
- author: Anonymous
  content: "\n\tUse this thread to discuss the RCX 3 page.\n\n\t\n"
  date: Tue 08 of Mar., 2005 11:21 GMT
- author: Anonymous
  content: '

    <p>When is the RIS 3.0 coming out? Nobody probably will know, but a general

    <br/>idea will work, like what year...

    </p>

    <p>

    <br/>

    </p>

    '
  date: Fri 11 of Mar., 2005 21:39 GMT
- author: Anonymous
  content: '

    <p>On Tue, March 8, 2005 12:28 am, GB Pics said:

    <br/>&gt; Is there really going to be an <a href="Lego+RCX"
    title="The Lego RCX">RCX</a> 3.0? If so, when will it be released?

    <br/>&gt;

    </p>

    <p><a href="Lego" title="The best known construction toy">Lego</a>
    are planning to create one. The details of its release date, and

    <br/>specifications are not clear yet - but it may be more of a revision than

    <br/>the ones before - which were pretty much firmware changes and the removal

    <br/>of the external power connector.

    </p>

    <p>There is hope that the power connector will come back in the <a href="Lego+RCX" title="The Lego RCX">RCX</a> 3 though.

    <br/>The forum to watch on this is probably <a href="https://www.lugnet.com/robotics/"
    rel="">Lugnet Robotics</a> who will probably be the first to hear

    <br/>about it, and have already been discussing it somewhat.
    </p>

    <p>Cheers,
    <br/>Danny
    </p>

    <p>
    <br/>
    </p>

    '
  date: Tue 08 of Mar., 2005 11:21 GMT
thread:
  author: Anonymous
  href: tiki-view_forum_thread.php?comments_parentId=62&topics_offset=17
  last_post_date: "Fri 11 of Mar., 2005 21:39 GMT \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nRCX 3 info by Anonymous"
  name: RCX 3??
  posts: 2
  reads: 19352
  slug: rcx_3
  subcomment: ''
title: Lego Discussion | RCX 3??
topic:
  href: tiki-view_forum.php?forumId=8
  last_post_date: Sat 13 of Sep., 2008 15:21 BST
  last_post_info: 'Re: Re: Mindstorms Stormrunner Game by orion'
  name: Lego Discussion
  post_count: 65
  slug: lego_discussion
  subcomment: Topics to do with using Lego to build robots, and robotic based contraptions
  thread_count: 19
  visits: 88452
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
