---
layout: default
permalink: /forums/lego_discussion/what_is_that_displayed_on_my_rcx2_0/index.html
posts:
- author: orion
  content: "\n\tMail in discussion follows:\n\n\t\n"
  date: M14 of Mar., 2005 11:42 GMT
- author: orion
  content: '

    <p>Original Message

    <br/>Subject: Re: What is that displayed on my RCX2.0?

    <br/>From:    "Eric"

    <br/>Date:    Mon, 14 March, 2005 12:13 pm

    </p>

    <p>Hi!</p>

    <p>Don''t worry,</p>

    <p>It''s just an indication that the datalog of the <a
    href="Lego+RCX" title="The Lego RCX">RCX</a> has been used.

    </p>

    <p>When you change your batteries -and wait a while between change- it will be
    gone.</p>

    <p>The datalog is a useful option of the <a href="Lego+RCX"
    title="The Lego RCX">RCX</a> but at this moment it''s only been used by <a href="NQC" title="Not Quite C - A Lego PBrick Programming Language">NQC</a>.

    </p>

    <p>Eric

    </p>

    '
  date: M14 of Mar., 2005 13:32 GMT
- author: orion
  content: '

    <p>I am not sure here - but could that mean that the batteries are seriously

    <br/>low?

    </p>

    <p>It would seem likely if they have been sat for a while, as even when

    <br/>powered down there is some residual current usage, and leakage in the RCX.

    <br/>Remember that when batteries are changed, you have a minute to replace

    <br/>them otherwise you must re-flash the firmware and re-upload any programs.

    </p>

    <p>Cheers,

    <br/>Danny

    <br/>--

    <br/><a href="http://orionrobots.co.uk">http://orionrobots.co.uk</a> - Learn to
    build robots

    </p>

    <p>On Mon, 14 March, 2005 10:22 am, Ian Reid said:

    <br/>&gt; G''day,

    <br/>&gt; I have been using my RCX 2.0 brick recently after it has been laying
    idle

    <br/>&gt; for a

    <br/>&gt; period.  I have noticed that there is an extra icon in the display window

    <br/>&gt; which

    <br/>&gt; is not discussed in the Lego Robotics Invention System 2.0

    <br/>&gt; Constructopedia.  I

    <br/>&gt; was hoping someone could explain what it means.

    <br/>&gt;

    <br/>&gt; Next to the program number I can see a flashing quarter of a circle.  The

    <br/>&gt; quarter flashes after I press the on button and continues to flash which

    <br/>&gt; ever

    <br/>&gt; program I have running.

    <br/>&gt;

    <br/>&gt; I have used BrixCC in the past however, I using the lego supplied

    <br/>&gt; programming

    <br/>&gt; tool at present.  The Lego Firmware is loaded in my RCX.

    <br/>&gt;

    <br/>&gt; Grateful for any advice.

    <br/>&gt; Regards

    <br/>&gt; Ian Reid

    <br/>&gt; &gt;

    </p>

    <p>

    <br/>

    <br/>

    </p>

    '
  date: M14 of Mar., 2005 11:42 GMT
thread:
  author: orion
  href: tiki-view_forum_thread.php?comments_parentId=72&topics_offset=14
  last_post_date: "Mon 14 of Mar., 2005 13:32 GMT \n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\
    \nWhat is that displayed on my RCX2.0? by orion"
  name: What is that displayed on my RCX2.0?
  posts: 2
  reads: 19751
  slug: what_is_that_displayed_on_my_rcx2_0
  subcomment: ''
title: Lego Discussion | What is that displayed on my RCX2.0?
topic:
  href: tiki-view_forum.php?forumId=8
  last_post_date: Sat 13 of Sep., 2008 15:21 BST
  last_post_info: 'Re: Re: Mindstorms Stormrunner Game by orion'
  name: Lego Discussion
  post_count: 65
  slug: lego_discussion
  subcomment: Topics to do with using Lego to build robots, and robotic based contraptions
  thread_count: 19
  visits: 88452
---
<table class="table table-striped">
{% for post in page.posts %}
    <tr>
        <td>
            <div class="text-muted">By {{ post.author }} on {{ post.date }}</div>
            <div class="post_content">{{ post.content }}</div>
        </td>
    </tr>
{% endfor %}
</table>

<div class="alert alert-info">These forums are no longer open. Please use my Facebook, Twitter or Youtube channels to ask questions.</div>
