---
layout: default
---
{% include JB/setup %}
{% include themes/orionrobots/page.html %}
<style>
    .hide-bullets {
        list-style:none;
        margin-left: -40px;
        margin-top:20px;
    }

    .thumbnail {
        width: 60px;
        height: 60px;
        overflow: hidden;
    }

    .thumbnail > img {
        height: 100%;
        margin: 0;
        padding: 0; 
        width: auto;
    }

    .caption-container {
        overflow-y: scroll;
    }
</style>
<script>
    var images={
        {% for image in page.images %}
            "{{image.src|slugify}}": {{ image | jsonify }},
        {% endfor %}
    };
    $(function () {
        console.log("Started load code.");
        var current_image = $("#current-image");
        $('body').on("imageSelected", function(evt, imageId) {
            console.log("Selected " + imageId);
            var image = images[imageId];
            current_image.find("img").attr("src", image.src);
            current_image.find(".caption").html(image.caption);
            current_image.find(".date").html(image.date);
            current_image.find(".image-name").html(image.name);
        });
        $('body').trigger("imageSelected", "{{ page.images[0].src | slugify }}");
    });
</script>
<div id="current-image" style="height: 400px">
    <div class="image-name"></div>
    <img src="" style="max-height: 300px; min-height: 200px; width: auto">
    <div class="caption-container caption"></div>
    <p>Date:<span class="date"></span></p>
</div>
    
<div class="row" id="thumbs">
    <ul class="hide-bullets">
        {% for image in page.images %}
            <li class="col-sm-1">
                <a class="thumbnail">
                    {% if image.thumb-src %}
                        <img src="{{image.thumb-src}}" alt="{{image.caption}}" class="center-block"
                            onClick="$('body').trigger('imageSelected', '{{image.src|slugify}}');"/>
                    {% else %}
                        <img src="{{image.src}}" alt="{{image.caption}}" class="center-block"
                            onClick="$('body').trigger('imageSelected', '{{image.src|slugify}}');"/>
                {% endif %}
                    </a>
            </li>   
        {% endfor %}
    </ul>
</div>
